version: "3"

services:
  client-dev:
    container_name: social-client
    image: social-client
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
