.CommentBox_Container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.226);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 0px;
  left: 0px; */
}
.CommentBox {
  width: 70%;
  max-height: 60vh;
  background-color: white;
  border-radius: 15px;
  background-color: #f0e3ed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.CommentBox_RootUser_Post_Field_Container {
  width: 99%;
  height: 3rem;
  /* border: 1px solid red; */
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color-point-7);
  border-radius: 15px;
}
.CommentBox_Image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.CommentBox_Input_Field {
  width: 75%;
  height: 70%;
  border-radius: 15px;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
  font-family: var(--primary-font-family);
}

.CommentBox_Input_Field:read-write {
  padding-left: 10px;
  padding-right: 10px;
}

.CommentBox_Input_Field:focus {
  outline: none;
}

.CommentBox_Input_Emoji {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
