.CommentBox_Background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.226);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 0px;
  left: 0px; */
}
.CommentBox {
  width: 70%;
  background-color: white;
  border-radius: 15px;
  background-color: #f0e3ed;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.CommentBox_RootUser_Post_Field_Container {
  width: 99%;
  height: 3rem;
  /* border: 1px solid red; */
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color-point-7);
  border-radius: 15px;
}
.CommentBox_Image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.CommentBox_Input_Field {
  width: 75%;
  height: 70%;
  border-radius: 15px;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
  font-family: var(--primary-font-family);
}

.CommentBox_Input_Field:read-write {
  padding-left: 10px;
  padding-right: 10px;
}

.CommentBox_Input_Field:focus {
  outline: none;
}

.CommentBox_Input_Emoji {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(49, 49, 49);
}

.CommentBox_CommentList {
  max-height: 45vh;
  overflow-y: scroll;
  width: 90%;
  margin: 0.5rem;
}

.CommentBox_CommentList::-webkit-scrollbar {
  width: 7px;
}
.CommentBox_CommentList::-webkit-scrollbar-track {
  background-color: transparent;
}
.CommentBox_CommentList::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.CommentBox_CommentList:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.CommentBox_CommentList::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.CommentBox_UserComment {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  align-items: flex-start;
}

.CommentBox_UserComment img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.CommentBox_UserComment div {
  /* border: 1px solid red; */
  padding: 0.5rem;
  background-color: #f8f1fa;
  border-radius: 0.3rem;
}

.CommentBox_UserComment div h3 {
  /* border: 1px solid blue; */
  font-family: var(--primary-font-family);
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.CommentBox_UserComment div p {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  /* border: 1px solid blue; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30rem;
}
