/* Designing MainPage SideBar---------------------------------------- */

.MainPage_SideBar_Container {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  height: 100vh;
  /* justify-content: space-between; */
  background-color: white;
  box-shadow: 5px 0px 15px rgb(211, 211, 211);
}
.MainPage_SideBar_Logo_Search_Container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 14%;
  margin-left: 2%;
}
.MainPage_SideBar_Page_Logo {
  height: 3rem;
  display: inline-block;
}
.MainPage_SideBar_Search_Outline {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  margin-left: 3%;
  height: 40%;
  border-color: rgb(122, 122, 122);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 1rem;
  padding-left: 10px;
}
.MainPage_SideBar_Search_Icon {
  color: rgb(92, 92, 92);
  width: 1.4rem;
}
.MainPage_SideBar_Search_Input_Field {
  /* border: 1px solid red; */
  width: 65%;
  border-width: 0px;
  height: 90%;
  color: rgb(92, 92, 92);
  margin-left: 1.5%;
}
.MainPage_SideBar_Search_Back_Icon {
  color: rgb(92, 92, 92);
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}
.MainPage_SideBar_Search_Input_Field:read-write {
  padding-left: 10px;
  color: rgb(92, 92, 92);
  font-family: var(--input-field-font-family);
  font-size: 0.9rem;
  font-weight: 600;
}
.MainPage_SideBar_Search_Input_Field:focus {
  outline: none;
}
.MainPage_SideBar_Menu_Container {
  /* border: 1px solid blue; */
  height: 37%;
}
.MainPage_SideBar_Menu_NavLink_Container {
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MainPage_SideBar_Menu_NavLink_Container a {
  display: flex;
  cursor: pointer;
  padding: 2% 0% 2% 0%;
  align-items: center;
  border-radius: 0px 1rem 1rem 0px;
  transition-duration: 100ms;
  text-decoration: none;
}
.MainPage_SideBar_Menu_NavLink_Container a:hover {
  background-color: var(--secondary-color-point-2);
}
/* .MainPage_SideBar_Menu_NavLink_Container a span {
    height: 1.5rem;
    cursor: pointer;
  } */
.MainPage_SideBar_Menu_Home_Logo {
  margin-left: 2%;
  color: var(--logo-icon-low-opacity-black-color-point-3);
  height: 1.6rem;
  width: 1.6rem;
}
.MainPage_SideBar_Menu_NavLink_Container a h3 {
  margin-left: 5%;
  color: var(--lower-opacity-font-color);
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  letter-spacing: 0.5px;
}
.MainPage_SideBar_Menu_SelectBar_Colored {
  width: 12px;
  height: 120%;
  /* background-color: var(--primary-color-point-7); */
}
.MainPage_SideBar_Menu_Title {
  font-family: var(--primary-font-family);
  color: var(--lower-opacity-font-color);
  font-size: 0.9rem;
  margin-left: 5%;
  /* border: 1px solid black; */
  height: 8%;
}
.MainPage_SideBar_Friends_Container {
  /* border: 1px solid purple; */
  height: 35%;
  margin: 1% 4% 1% 4%;
  background-color: var(--secondary-color-point-2);
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 2% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid red; */
  height: 10%;
}
.MainPage_SideBar_Friends_Inner_Container {
  width: 100%;
  height: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition-duration: 100ms;
}

.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar {
  width: 7px;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Inner_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.MainPage_SideBar_Friend_Outline {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.MainPage_SideBar_Friend_Image {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 7%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_Friend_Name {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
}
.MainPage_SideBar_Friend_Name:hover {
  text-decoration: underline;
}
.MainPage_SideBar_Friend_Active_Status {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50%;
  border-radius: 1rem;
  background-color: var(--primary-color-point-7);
}
.MainPage_SideBar_Friend_Active_Status p {
  font-family: var(--primary-font-family);
  font-size: 0.5rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  color: white;
}
.MainPage_SideBar_User_Account_LogOut_Container {
  height: 14%;
}
.MainPage_SideBar_Account_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 1% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid orangered; */
  height: 25%;
}
.MainPage_SideBar_User_Account_Logout_Outline {
  display: flex;
  /* border: 1px solid black; */
  height: 75%;
  align-items: center;
  justify-content: space-between;
}
.MainPage_SideBar_User_Account_Img {
  margin-left: 3%;
  height: 2.75rem;
  width: 2.75rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_User_Account_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: rgb(51, 51, 51);
  cursor: pointer;
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MainPage_SideBar_User_Account_Name:hover {
  text-decoration: underline;
}
.MainPage_LogOut_Icon {
  margin-left: 4%;
  height: 1rem;
  cursor: pointer;
}
.MainPage_SideBar_User_Logout_Button {
  margin-right: 5%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
}
.MainPage_SideBar_User_Logout_Button:hover {
  text-decoration: underline;
}

.MainPage_SideBar_Horizontal_Line {
  width: 90%;
  margin-left: 5%;
  /* height: 0.5px; */
  background-color: rgb(197, 197, 197);
}

/* SideBar Drawer Open Icon Style ================ */
.SideBar_Drawer_Container {
  border: 1px solid red;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #4a374694;
}
.SideBar_Drawer_Open_Icons {
}
.SideBar_Drawer_Open_1st_Icon {
}
.SideBar_Drawer_Open_2nd_Icon {
}

@media screen and (max-width: 1360px) and (min-width: 1200px) {
  /* .MainPage_SideBar_Logo_Search_Container {
    height: 12%;
  } */
  .MainPage_SideBar_Logo_Search_Container {
    width: 100%;
    margin-left: 0%;
    height: 11%;
  }
  .MainPage_SideBar_Search_Outline {
    height: 1.5rem;
  }
  .MainPage_SideBar_Page_Logo {
    height: 2.7rem;
    margin-left: 6%;
  }
  .MainPage_SideBar_Menu_Container {
    height: 40%;
  }
  /* .MainPage_SideBar_Friends_Container {
    height: 35%;
    margin: 1% 3% 2% 3%;
  } */
  /* .MainPage_SideBar_Friends_Title {
    margin: 2% 0% 0% 5%;
    height: 8%;
  } */
  /* .MainPage_SideBar_Friend_Active_Status {
    width: 19%;
  } */
  /* .MainPage_SideBar_User_Account_LogOut_Container {
    height: 17%;
  } */
  /* .MainPage_SideBar_Account_Title {
    height: 20%;
  } */
  /* .MainPage_SideBar_User_Account_Logout_Outline {
    justify-content: center;
    flex-wrap: wrap;
  } */
  /* .MainPage_SideBar_User_Account_Img {
    margin-right: 3%;
    padding-left: 5%;
  } */
  /* .MainPage_SideBar_User_Account_Name {
    width: 60%;
  } */
  /* .MainPage_LogOut_Icon {
    margin-right: 4%;
  } */
}
/* @media screen and (max-width: 1500px) and (min-width: 1300px) {
  .MainPage_SideBar_Search_Outline {
    width: 60%;
  }
} */
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .MainPage_SideBar_Container {
    width: 15%;
  }
  .MainPage_SideBar_Logo_Search_Container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }
  .MainPage_SideBar_Page_Logo {
    height: 2.8rem;
    margin-left: 6%;
  }
  .MainPage_SideBar_Search_Outline {
    width: 70%;
    margin-left: 0%;
    height: 35px;
    border-radius: 0.9rem;
    padding-left: 7px;
    text-overflow: ellipsis;
  }
  .MainPage_SideBar_Search_Input_Field {
    margin-left: 0%;
    background-color: transparent;
  }
  .MainPage_SideBar_Search_Input_Field:read-write {
    padding-left: 5px;
  }
  .MainPage_SideBar_Menu_Container {
    height: 30%;
  }
  .MainPage_SideBar_Friends_Container {
    height: 42%;
    margin: 1% 4% 3% 4%;
  }
  .MainPage_SideBar_Friends_Title {
    margin: 3% 0% 0% 5%;
    height: 8%;
  }
  .MainPage_SideBar_Friend_Name {
    width: 60%;
  }
  .MainPage_SideBar_Friend_Active_Status {
    visibility: hidden;
    position: absolute;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 14%;
  }
  .MainPage_SideBar_User_Account_Logout_Outline {
    justify-content: center;
    flex-wrap: wrap;
  }
  .MainPage_SideBar_User_Account_Img {
    margin-right: 3%;
    padding-left: 5%;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 100%;
    text-align: center;
  }
  .MainPage_LogOut_Icon {
    margin-right: 4%;
  }
}
@media screen and (max-width: 1024px) {
  .MainPage_SideBar_Container {
    width: 100px;
  }
  .MainPage_SideBar_Logo_Search_Container {
    height: 12%;
    margin-left: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .MainPage_SideBar_Page_Logo {
    height: 3rem;
  }
  .MainPage_SideBar_Search_Outline {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-left: 0%;
    height: 40px;
    border-width: 0px;
    padding-left: 0px;
  }
  .MainPage_SideBar_Search_Icon {
    color: rgb(92, 92, 92);
    width: 1.6rem;
    height: 1.6rem;
  }
  .MainPage_SideBar_Search_Input_Field {
    visibility: hidden;
    position: absolute;
  }
  .MainPage_SideBar_Menu_Container {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .MainPage_SideBar_Menu_Title {
    font-size: 1rem;
    margin-left: 0%;
    height: 8%;
  }
  .MainPage_SideBar_Menu_NavLink_Container {
    width: 100%;
  }
  .MainPage_SideBar_Menu_NavLink_Container a {
    justify-content: space-between;
  }
  .MainPage_SideBar_Menu_Home_Logo {
    margin-right: 30%;
    height: 1.9rem;
    width: 1.9rem;
  }
  .MainPage_SideBar_Menu_NavLink_Container a h3 {
    visibility: hidden;
    position: absolute;
  }
  .MainPage_SideBar_Horizontal_Line {
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .MainPage_SideBar_Friends_Container {
    height: 35.5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .MainPage_SideBar_Friends_Title {
    font-size: 0.9rem;
    margin: 5px 0% 0% 5%;
    height: 7%;
  }
  .MainPage_SideBar_Friends_Inner_Container {
    height: 90%;
  }
  .MainPage_SideBar_Friend_Outline {
    display: flex;
    align-items: center;
    margin-top: 1%;
    flex-direction: column;
  }
  .MainPage_SideBar_Friend_Image {
    width: 2rem;
    height: 2rem;
    margin-left: 7%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  .MainPage_SideBar_Friend_Name {
    font-size: 0.7rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    margin-bottom: -13px;
    visibility: hidden;
    position: absolute;
  }
  .MainPage_SideBar_Friend_Active_Status {
    margin: 0%;
    width: 60%;
    height: 22px;
    border-radius: 1rem;
    visibility: hidden;
    position: absolute;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .MainPage_SideBar_User_Account_Logout_Outline {
    display: flex;
    height: 75%;
  }
  .MainPage_SideBar_User_Account_Logout_Outline {
    justify-content: center;
    flex-wrap: wrap;
  }
  .MainPage_SideBar_User_Account_Img {
    margin-left: 0%;
    height: 3rem;
    width: 3rem;
    margin-right: 3%;
    padding-left: 5%;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 90px;
    text-align: center;
  }
  .MainPage_LogOut_Icon {
    margin-right: 4%;
  }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  .MainPage_SideBar_Container {
    width: 90px;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 80px;
  }
}
/* @media screen and (max-width: 768px) and (min-width: 480px) {
  .MainPage_SideBar_Container {
    width: 85px;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 75px;
  }
  .MainPage_SideBar_User_Account_Img {
    margin-left: 0%;
    height: 2.8rem;
    width: 2.8rem;
    margin-right: 3%;
    padding-left: 5%;
  }
} */
@media screen and (max-width: 768px) and (min-width: 480px) {
  .MainPage_SideBar_Container {
    width: 60px;
  }
  .MainPage_SideBar_Logo_Search_Container {
    height: 12%;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .MainPage_SideBar_Page_Logo {
    height: 2.2rem;
    margin-top: 5px;
  }
  .MainPage_SideBar_Search_Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .MainPage_SideBar_Menu_Container {
    height: 35%;
  }
  .MainPage_SideBar_Menu_Title {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
  .MainPage_SideBar_Menu_NavLink_Container {
    width: 100%;
  }
  .MainPage_SideBar_Menu_Home_Logo {
    margin-right: 20%;
    height: 1.6rem;
    width: 1.6rem;
  }
  .MainPage_SideBar_Horizontal_Line {
    width: 85%;
  }
  .MainPage_SideBar_Friends_Container {
    height: 35.5%;
    border-radius: 5px;
  }
  .MainPage_SideBar_Friends_Title {
    font-size: 0.7rem;
    margin: 5px 0% 0% 5%;
    height: 7%;
  }
  .MainPage_SideBar_Friends_Inner_Container {
    height: 90%;
  }
  .MainPage_SideBar_Friend_Image {
    width: 1.8rem;
    height: 1.8rem;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 16%;
  }
  .MainPage_SideBar_Account_Title {
    font-size: 0.7rem;
    margin: -20px 0% -10px 5%;
    height: 25%;
  }
  .MainPage_SideBar_User_Account_Img {
    margin-left: 0%;
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 3%;
    padding-left: 5%;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 55px;
    text-align: center;
    font-size: 0.7rem;
  }
  .MainPage_LogOut_Icon {
    margin-right: 4%;
    width: 0.8rem;
    height: 0.8rem;
  }
  .MainPage_SideBar_User_Logout_Button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .MainPage_SideBar_Container {
    width: 45px;
  }
  .MainPage_SideBar_Page_Logo {
    height: 2rem;
    margin-top: 5px;
  }
  .MainPage_SideBar_Search_Icon {
    width: 1.1rem;
    height: 1.1rem;
  }
  .MainPage_SideBar_Menu_Container {
    height: 35%;
  }
  .MainPage_SideBar_Menu_Title {
    font-size: 0.75rem;
    margin-bottom: 3px;
  }
  .MainPage_SideBar_Menu_SelectBar_Colored {
    width: 6px;
    height: 110%;
  }
  .MainPage_SideBar_Menu_Home_Logo {
    margin-right: 20%;
    height: 1.5rem;
    width: 1.5rem;
  }
  .MainPage_SideBar_Friends_Container {
    height: 37.5%;
    border-radius: 3px;
  }
  .MainPage_SideBar_Friends_Title {
    font-size: 0.6rem;
  }
  .MainPage_SideBar_Friends_Inner_Container {
    height: 90%;
  }
  .MainPage_SideBar_Friend_Image {
    width: 1.6rem;
    height: 1.6rem;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 14%;
    justify-content: center;
  }
  .MainPage_SideBar_Account_Title {
    font-size: 0.6rem;
    margin: 0px 0px 0px 0px;
  }
  .MainPage_SideBar_User_Account_Img {
    height: 1.6rem;
    width: 1.6rem;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 43px;
    text-align: center;
    font-size: 0.6rem;
  }
  .MainPage_LogOut_Icon {
    margin-right: 4%;
    width: 0.7rem;
    height: 0.7rem;
  }
  .MainPage_SideBar_User_Logout_Button {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 320px) {
  .MainPage_SideBar_Container {
    width: 40px;
  }
  .MainPage_SideBar_Page_Logo {
    height: 1.7rem;
    margin-top: 5px;
  }
  .MainPage_SideBar_Search_Icon {
    width: 0.9rem;
    height: 0.9rem;
  }
  .MainPage_SideBar_Menu_Container {
    height: 35%;
  }
  .MainPage_SideBar_Menu_Title {
    font-size: 0.6rem;
    margin-bottom: 3px;
  }
  .MainPage_SideBar_Menu_SelectBar_Colored {
    width: 6px;
    height: 110%;
  }
  .MainPage_SideBar_Menu_Home_Logo {
    margin-right: 20%;
    height: 1.3rem;
    width: 1.3rem;
  }
  .MainPage_SideBar_Friends_Container {
    height: 37.5%;
    border-radius: 3px;
  }
  .MainPage_SideBar_Friends_Title {
    font-size: 0.45rem;
  }
  .MainPage_SideBar_Friends_Inner_Container {
    height: 90%;
  }
  .MainPage_SideBar_Friend_Image {
    width: 1.4rem;
    height: 1.4rem;
  }
  .MainPage_SideBar_Account_Title {
    font-size: 0.45rem;
    margin: 0px 0px 0px 0px;
  }
  .MainPage_SideBar_User_Account_Img {
    height: 1.4rem;
    width: 1.4rem;
  }
  .MainPage_SideBar_User_Account_Name {
    width: 37px;
    text-align: center;
    font-size: 0.45rem;
  }
  .MainPage_LogOut_Icon {
    margin-right: 4%;
    width: 0.5rem;
    height: 0.5rem;
  }
  .MainPage_SideBar_User_Logout_Button {
    font-size: 0.45rem;
  }
}
@media screen and (max-height: 600px) {
  .MainPage_SideBar_Logo_Search_Container {
    height: 15%;
  }
  .MainPage_SideBar_Menu_Container {
    height: 30%;
    overflow-y: scroll;
  }
  .MainPage_SideBar_Horizontal_Line {
    display: none;
  }
  .MainPage_SideBar_Friends_Container {
    height: 25%;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 23%;
  }
}

@media screen and (max-width: 768px) and (max-height: 600px) and (min-height: 500px) {
  .MainPage_SideBar_Friends_Container {
    height: 33%;
  }
}

@media screen and (max-width: 768px) and (max-height: 500px) and (min-height: 400px) {
  .MainPage_SideBar_Logo_Search_Container {
    height: 15%;
  }
  .MainPage_SideBar_Menu_Container {
    height: 30%;
    overflow-y: scroll;
  }
  .MainPage_SideBar_Friends_Container {
    height: 30%;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 20%;
  }
}

@media screen and (max-width: 768px) and (max-height: 400px) and (min-height: 300px) {
  .MainPage_SideBar_Logo_Search_Container {
    height: 17%;
  }
  .MainPage_SideBar_Menu_Container {
    height: 30%;
    overflow-y: scroll;
  }
  .MainPage_SideBar_Friends_Container {
    height: 25%;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 22%;
  }
}

@media screen and (max-width: 768px) and (max-height: 300px) and (min-height: 150px) {
  .MainPage_SideBar_Logo_Search_Container {
    height: 20%;
  }
  .MainPage_SideBar_Menu_Container {
    height: 23%;
    overflow-y: scroll;
  }
  .MainPage_SideBar_Friends_Container {
    height: 20%;
  }
  .MainPage_SideBar_User_Account_LogOut_Container {
    height: 28%;
  }
}
