@keyframes blinking_RightPart_Drawer_Open_2nd_Icon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking_RightPart_Drawer_Open_1st_Icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.RightPart_Drawer_Open_Icons {
  position: absolute;
  right: 10px;
}
.RightPart_Drawer_Open_2nd_Icon {
  transform: rotate(180deg);
  animation: 2s ease-in-out 0s infinite blinking_RightPart_Drawer_Open_2nd_Icon;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 10px;
}
.RightPart_Drawer_Open_1st_Icon {
  transform: rotate(180deg);
  animation: 2s ease-in-out 0s infinite blinking_RightPart_Drawer_Open_1st_Icon;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .RightPart_Drawer_Open_Icons {
    right: 0px;
    top: -3px;
  }
  .RightPart_Drawer_Open_2nd_Icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .RightPart_Drawer_Open_1st_Icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  .RightPart_Drawer_Open_Icons {
    right: 0px;
    top: -1px;
  }
  .RightPart_Drawer_Open_2nd_Icon {
    width: 1.1rem;
    height: 1.1rem;
    right: 10px;
  }
  .RightPart_Drawer_Open_1st_Icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}
