@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap");
#carousel-stories-container {
  width: var(--home-page-content-width);
  height: 400px;
  margin-top: 15px;
  padding: 0;
  font-family: "Helvetica Neue", "Roboto Mono", "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carousel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}
#menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  transition: all 0.6s ease-in-out;
  justify-content: space-evenly;
}
#current-option {
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
#current-option-text1 {
  font-size: 1.3rem;
  line-height: 2rem;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  overflow: hidden;
}
#current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#current-option-text2 {
  font-size: 0.8rem;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#previous-option {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  margin-top: 100%;
}
#next-option {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  transform: rotate(180deg);
  margin-bottom: 100%;
}
#image {
  border-radius: 8px;
  height: 80%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
}
.anim-next {
  pointer-events: none;
}
.anim-next #current-option-text1 {
  animation: next-text 0.65s 0.085s;
}
.anim-next #current-option-text2 {
  animation: next-text 0.65s 0.085s;
}
.anim-next #previous-option {
  animation: next-top-arrow 0.65s 0.085s;
}
.anim-next #next-option {
  animation: next-bottom-arrow 0.65s 0.085s;
}
.anim-next #image {
  animation: next-image 0.65s 0.085s;
}
.anim-previous {
  pointer-events: none;
}
.anim-previous #current-option-text1 {
  animation: previous-text 0.65s 0.085s;
}
.anim-previous #current-option-text2 {
  animation: previous-text 0.65s 0.085s;
}
.anim-previous #previous-option {
  animation: previous-top-arrow 0.65s 0.085s;
}
.anim-previous #next-option {
  animation: previous-bottom-arrow 0.65s 0.085s;
}
.anim-previous #image {
  animation: previous-image 0.65s 0.085s;
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}
@keyframes previous-top-arrow {
  50% {
    /* transform: translate(310px, 53px); */
  }
}
@keyframes previous-bottom-arrow {
  50% {
    transform: rotate(180deg);
  }
}
@keyframes previous-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}
@keyframes next-top-arrow {
  50% {
    /* transform: translate(310px, 47px); */
  }
}
@keyframes next-bottom-arrow {
  50% {
    transform: rotate(180deg);
  }
}
@keyframes next-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-height: 850px) and (min-height: 600px) {
  #carousel-stories-container {
    height: 300px;
  }
}
