/* Designing HomePage Feed -------------------------------------------------*/
.HomePage_Feed_Main_Container {
  width: var(--home-page-content-width);
  height: auto;
}
.HomePage_Feed_Content_Container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color-point-2);
  border-radius: 5px;
}
.HomePage_Feed_Image_Container {
  width: 97%;
  margin-top: 0.3rem;
}
.HomePage_Feed_Image_Container img {
  width: 100%;
}
.HomePage_Feed_Info_Container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HomePage_Feed_Info_User_Image img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  /* border: 1px solid red; */
  margin-left: 5%;
}
.HomePage_Feed_User_Caption_Container {
  width: 95%;
  /* border: 1px solid red; */
  margin: 10px 0px 10px 0px;
  word-wrap: break-word;
}
.HomePage_Feed_User_Caption_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
}
.HomePage_Feed_User_Name_And_ID_Info_Container {
  width: 45%;
  /* border: 1px solid blue; */
  margin-left: 1%;
  display: flex;
}
.HomePage_Feed_User_Name_Info_Container {
  width: 70%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.HomePage_Feed_User_ID_Text {
  /* border: 1px solid green; */
  max-width: 95%;
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.89rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.HomePage_Feed_User_ID_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_User_Time_Text {
  /* border: 1px solid red; */
  width: 30%;
  height: 2rem;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  word-wrap: break-word;
}

.HomePage_Feed_User_Name_Text {
  /* border: 1px solid black; */
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  cursor: pointer;
}
.HomePage_Feed_User_Name_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_Love_Comment_Share_Info_Container {
  /* border: 1px solid purple; */
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}
.HomePage_Feed_Icon_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* border: 1px solid red; */
}
.HomePage_Feed_Icon_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}

.HomePage_Feed_UnLiked_Love_Icon,
.HomePage_Feed_Liked_Love_Icon,
.HomePage_Feed__Comment_Icon,
.HomePage_Feed_Share_Icon,
.HomePage_Feed_More_Info_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
  margin-right: 3px;
  transition-duration: 100ms;
  width: 1.2rem;
  height: 1.2rem;
}
.HomePage_Feed_Liked_Love_Icon {
  color: var(--primary-color);
}
.HomePage_Feed_Liked_Love_Icon:hover {
  filter: opacity(0.8);
}
.HomePage_Feed_More_Info_Icon {
  transform: rotate(90deg);
}
.HomePage_Feed_UnLiked_Love_Icon:hover,
.HomePage_Feed__Comment_Icon:hover,
.HomePage_Feed_Share_Icon:hover,
.HomePage_Feed_More_Info_Icon:hover {
  color: var(--primary-color);
}
