/* Desing GetUserID Page ---------------------------------------*/
.GetUserIDPage_Container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a374694;
}
.GetUserIDPage_Form_Container {
  width: 30%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
.GetUserIDPage_Form_Title {
  font-family: var(--primary-font-family);
  font-size: 1.8rem;
  color: var(--lower-opacity-font-color);
  margin-top: 5%;
}
.GetUserIDPage_Form_Explained_Paragraph {
  /* border: 1px solid red; */
  width: 80%;
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  text-align: center;
  margin: 1%;
}
.GetUserIDPage_Name_Form_Field {
  margin: 5%;
  width: 80%;
  height: 2rem;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(134, 133, 133);
}
.GetUserIDPage_Name_Form_Field:focus {
  outline: none;
}
.GetUserIDPage_Name_Form_Field:read-write {
  padding-left: 4%;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--lower-opacity-font-color);
}
.GetUserIDPage_Form_Udate_Profile_Text {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
}
.GetUserIDPage_Form_Update_Profile_Label {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
.GetUserIDPage_Form_Profile {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  transition-duration: 200ms;
}
.GetUserIDPage_Form_Profile:hover {
  transform: scale(1.05);
}
.GetUserIDPage_Form_Submit_Button {
  border-width: 0px;
  padding: 2.5% 10% 2.5% 10%;
  background-color: var(--primary-color);
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  transition-duration: 100ms;
}
.GetUserIDPage_Form_Submit_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .GetUserIDPage_Form_Container {
    border-radius: 13px;
    width: 40%;
  }
  .GetUserIDPage_Form_Title {
    font-size: 1.5rem;
  }
  .GetUserIDPage_Form_Explained_Paragraph {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Name_Form_Field {
    height: 1.9rem;
    border-width: 1px;
  }
  .GetUserIDPage_Name_Form_Field:read-write {
    font-size: 0.8rem;
  }
  .GetUserIDPage_Form_Udate_Profile_Text {
    font-size: 0.8rem;
  }
  .GetUserIDPage_Form_Profile {
    width: 7rem;
    height: 7rem;
  }
  .GetUserIDPage_Form_Submit_Button {
    padding: 5px 25px;
    font-size: 1rem;
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .GetUserIDPage_Form_Container {
    width: 55%;
    border-radius: 12px;
  }
  .GetUserIDPage_Form_Title {
    font-size: 1.4rem;
  }
  .GetUserIDPage_Form_Explained_Paragraph {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Name_Form_Field {
    height: 1.9rem;
    border-width: 1px;
    border-radius: 6px;
  }
  .GetUserIDPage_Name_Form_Field:read-write {
    font-size: 0.8rem;
  }
  .GetUserIDPage_Form_Udate_Profile_Text {
    font-size: 0.8rem;
  }
  .GetUserIDPage_Form_Profile {
    width: 6.5rem;
    height: 6.5rem;
  }
  .GetUserIDPage_Form_Submit_Button {
    padding: 5px 25px;
    font-size: 1rem;
    border-radius: 8px;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .GetUserIDPage_Form_Container {
    width: 70%;
    border-radius: 10px;
  }
  .GetUserIDPage_Form_Title {
    font-size: 1.3rem;
  }
  .GetUserIDPage_Form_Explained_Paragraph {
    font-size: 0.6rem;
  }
  .GetUserIDPage_Name_Form_Field {
    height: 1.8rem;
    border-width: 1px;
  }
  .GetUserIDPage_Name_Form_Field:read-write {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Form_Udate_Profile_Text {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Form_Profile {
    width: 6rem;
    height: 6rem;
  }
  .GetUserIDPage_Form_Submit_Button {
    padding: 5px 20px;
    font-size: 0.9rem;
    border-radius: 7px;
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  .GetUserIDPage_Form_Container {
    width: 80%;
    border-radius: 10px;
  }
  .GetUserIDPage_Form_Title {
    font-size: 1.2rem;
    margin-top: 5%;
  }
  .GetUserIDPage_Form_Explained_Paragraph {
    width: 80%;
    font-size: 0.6rem;
    margin: 1%;
  }
  .GetUserIDPage_Name_Form_Field {
    height: 1.7rem;
    border-width: 1px;
    border-radius: 5px;
  }
  .GetUserIDPage_Name_Form_Field:read-write {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Form_Udate_Profile_Text {
    font-size: 0.7rem;
  }
  .GetUserIDPage_Form_Profile {
    width: 5.5rem;
    height: 5.5rem;
  }
  .GetUserIDPage_Form_Submit_Button {
    border-width: 0px;
    padding: 5px 20px;
    font-size: 0.8rem;
    border-radius: 7px;
  }
}

@media screen and (max-width: 280px) {
  .GetUserIDPage_Form_Container {
    width: 90%;
    border-radius: 7px;
  }
  .GetUserIDPage_Form_Title {
    font-size: 1.1rem;
    margin-top: 5%;
  }
  .GetUserIDPage_Form_Explained_Paragraph {
    width: 80%;
    font-size: 0.6rem;
  }
  .GetUserIDPage_Name_Form_Field {
    height: 1.6rem;
    border-width: 1px;
    border-radius: 5px;
  }
  .GetUserIDPage_Name_Form_Field:read-write {
    font-size: 0.6rem;
  }
  .GetUserIDPage_Form_Udate_Profile_Text {
    font-size: 0.6rem;
  }
  .GetUserIDPage_Form_Profile {
    width: 5rem;
    height: 5rem;
  }
  .GetUserIDPage_Form_Submit_Button {
    border-width: 0px;
    padding: 5px 15px;
    font-size: 0.7rem;
    border-radius: 5px;
  }
}
