/*Designing Home Page ---------------------------------  */
/* Designing User Post filed */
.HomePage_Container {
  width: 50%;
  /* border: 1px solid red; */
  position: relative;
  left: 20%;
  top: 14vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.HomePage_User_Post_Field_Container {
  width: var(--home-page-content-width);
  min-height: 3rem;
  /* border: 1px solid yellow; */
  margin-top: 1.2rem;
  background-color: var(--secondary-color-point-7);
  border-radius: 10px;
}
.HomePage_MinView_UserPost_Field_Container {
  width: 100%;
  height: 3rem;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.HomePage_MinField_UserPost_Field_Image {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.HomePage_MinView_UserPost_Input_Field {
  width: 75%;
  height: 2rem;
  border-radius: 0.7rem;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
}
.HomePage_MinView_UserPost_Input_Field:read-write {
  font-family: var(--input-field-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 5%;
  color: rgb(68, 68, 68);
  padding-right: 2%;
}
.HomePage_MinView_UserPost_Input_Field:focus {
  outline: none;
}
/* HomePage MaxView UserPost Field --------------------------------------------------------*/
.HomePage_MaxView_UserPost_Field_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  /* border: 1px solid red; */
}
.HomePage_MaxView_UserPost_Field_Upper_Part_Container {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HomePage_MaxField_UserPost_Field_Image_Container {
  /* border: 1px solid blue; */
  height: 6rem;
  margin-left: 1%;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.HomePage_MaxField_UserPost_Field_Image {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.HomePage_MaxView_UserPost_Input_Field {
  width: 70%;
  height: 5rem;
  border-radius: 0.5rem;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
}
.HomePage_MaxView_UserPost_Input_Field:read-write {
  font-family: var(--input-field-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2% 3% 2% 3%;
  color: rgb(68, 68, 68);
  resize: none;
}
.HomePage_MaxView_UserPost_Input_Field:focus {
  outline: none;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar {
  width: 7px;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-track {
  background-color: transparent;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.HomePage_MaxView_UserPost_Input_Field:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.HomePage_MaxView_UserPost_Field_Icons_Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  width: 10%;
  position: relative;
}

.HomePage_MaxView_UserPost_Field_Icons_Container input {
  display: none;
}

.HomePage_MaxView_UserPost_Field_Icon {
  color: var(--primary-color-darker-5);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.HomePage_MaxView_UserPost_Field_Emoji_Icon {
  color: var(--primary-color-darker-5);
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
}
.HomePage_MaxView_UserPost_Field_Icon:hover,
.HomePage_MaxView_UserPost_Field_Emoji_Icon:hover {
  color: var(--primary-color-lighter-1);
}
.HomePage_MaxView_UserPost_Field_Back_and_Post_Button_Container {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-bottom: 0.5rem;
}
.HomePage_MaxView_UserPost_Field_Back_Icon {
  margin-left: 3.5%;
  color: var(--primary-color-darker-5);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.HomePage_MaxView_UserPost_Field_Back_Icon:hover {
  color: var(--primary-color-lighter-1);
}
.HomePage_MaxView_UserPost_Field_Post_Button {
  width: 77%;
  height: 1.4rem;
  margin-left: 2.5%;
  border-radius: 0.4rem;
  border-width: 0px;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--primary-color-darker-5);
  color: white;
  cursor: pointer;
  transition-duration: 150ms;
}
.HomePage_MaxView_UserPost_Field_Post_Button:hover {
  background-color: var(--primary-color-lighter-1);
}
.MaxView_UserPost_Image_Container {
  width: 75%;
  max-height: 17rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.MaxView_UserPost_Image {
  width: 80%;
  object-fit: cover;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar {
  width: 7px;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MaxView_UserPost_Image_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

@media screen and (max-width: 1200px) {
  .HomePage_Container {
    width: 55%;
    left: 15%;
    top: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .HomePage_Container {
    width: 60%;
    left: 100px;
    top: 110px;
  }
}

@media screen and (max-width: 850px) {
  .HomePage_Container {
    width: calc(100% - 100px);
    left: 100px;
    top: 4.8rem;
  }
}

@media screen and (max-width: 768px) {
  .HomePage_Container {
    width: calc(100% - 60px);
    left: 60px;
    top: 4.8rem;
  }

  .HomePage_User_Post_Field_Container {
    border-radius: 5px;
    width: 90%;
  }
  .HomePage_MinField_UserPost_Field_Image {
    width: 2rem;
    height: 2rem;
  }
  .HomePage_MinView_UserPost_Input_Field {
    width: 75%;
    height: 2rem;
  }
  .HomePage_MinView_UserPost_Input_Field:read-write {
    font-size: 0.7rem;
  }
  .HomePage_MaxField_UserPost_Field_Image_Container {
    height: 5.5rem;
  }
  .HomePage_MaxField_UserPost_Field_Image {
    width: 2rem;
    height: 2rem;
  }
  .HomePage_MaxView_UserPost_Input_Field {
    width: 65%;
    border-radius: 7px;
  }
  .HomePage_MaxView_UserPost_Input_Field:read-write {
    font-size: 0.7rem;
  }
  .HomePage_MaxView_UserPost_Field_Icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .HomePage_MaxView_UserPost_Field_Emoji_Icon {
    width: 1.7rem;
    height: 1.7rem;
  }
  .HomePage_MaxView_UserPost_Field_Back_Icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .HomePage_MaxView_UserPost_Field_Post_Button {
    width: 71%;
    border-radius: 5px;
  }
  .MaxView_UserPost_Image_Container {
    width: 70%;
    max-height: 17rem;
    margin-bottom: 4px;
    margin-left: 10px;
  }
  .MaxView_UserPost_Image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .HomePage_Container {
    width: calc(100% - 45px);
    left: 45px;
    top: 4rem;
  }

  .HomePage_User_Post_Field_Container {
    margin-top: 1rem;
    border-radius: 5px;
    width: 90%;
    /* border: 1px solid red; */
    min-height: 2.5rem;
  }
  .HomePage_MinView_UserPost_Field_Container {
    height: 2.5rem;
    /* border: 1px solid red; */
  }
  .HomePage_MinField_UserPost_Field_Image {
    width: 1.8rem;
    height: 1.8rem;
  }
  .HomePage_MinView_UserPost_Input_Field {
    width: 70%;
    height: 1.7rem;
    border-radius: 5px;
  }
  .HomePage_MinView_UserPost_Input_Field:read-write {
    font-size: 0.6rem;
  }
  .HomePage_MaxField_UserPost_Field_Image_Container {
    height: 5.5rem;
  }
  .HomePage_MaxField_UserPost_Field_Image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .HomePage_MaxView_UserPost_Input_Field {
    width: 60%;
    border-radius: 7px;
  }
  .HomePage_MaxView_UserPost_Input_Field:read-write {
    font-size: 0.6rem;
  }
  .HomePage_MaxView_UserPost_Field_Icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .HomePage_MaxView_UserPost_Field_Emoji_Icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .HomePage_MaxView_UserPost_Field_Back_Icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .HomePage_MaxView_UserPost_Field_Post_Button {
    width: 70%;
    border-radius: 4px;
  }
  .MaxView_UserPost_Image_Container {
    width: 70%;
    max-height: 17rem;
    margin-bottom: 4px;
    margin-left: 10px;
  }
  .MaxView_UserPost_Image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .HomePage_Container {
    width: calc(100% - 40px);
    left: 40px;
    top: 3.5rem;
  }
  .HomePage_User_Post_Field_Container {
    margin-top: 1rem;
    border-radius: 5px;
    width: 90%;
    min-height: 2.5rem;
  }
  .HomePage_MinView_UserPost_Field_Container {
    height: 2.5rem;
  }
  .HomePage_MinField_UserPost_Field_Image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .HomePage_MinView_UserPost_Input_Field {
    width: 70%;
    height: 2rem;
    border-radius: 5px;
  }
  .HomePage_MinView_UserPost_Input_Field:read-write {
    font-size: 0.6rem;
  }
  .HomePage_MaxField_UserPost_Field_Image_Container {
    height: 5.5rem;
  }
  .HomePage_MaxField_UserPost_Field_Image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .HomePage_MaxView_UserPost_Input_Field {
    width: 60%;
    border-radius: 7px;
  }
  .HomePage_MaxView_UserPost_Input_Field:read-write {
    font-size: 0.6rem;
  }
  .HomePage_MaxView_UserPost_Field_Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .HomePage_MaxView_UserPost_Field_Emoji_Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .HomePage_MaxView_UserPost_Field_Back_Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .HomePage_MaxView_UserPost_Field_Post_Button {
    width: 70%;
    border-radius: 4px;
  }
  .MaxView_UserPost_Image_Container {
    width: 70%;
    max-height: 17rem;
    margin-bottom: 4px;
    margin-left: 10px;
  }
  .MaxView_UserPost_Image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 280px) {
  .HomePage_Container {
    width: calc(100% - 40px);
    left: 40px;
    top: 3.2rem;
  }
}
