.MessagePage_Container {
  width: 48%;
  /* border: 1px solid red; */
  position: relative;
  left: 21%;
  top: 15vh;
  display: flex;
  padding-bottom: 1rem;
}

.MessagePage_List_Of_Message_Container {
  width: 50%;
  height: calc(100vh - 16vh);
  /* border: 1px solid red; */
  margin-right: 10px;
}
.MessagePage_Single_User_Message_Container {
  width: 50%;
  height: calc(100vh - 15vh);
  /* border: 1px solid blue; */
}
