.SettingPage_Container {
  position: relative;
  top: 5rem;
  left: 20%;
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--primary-color-darker-1); */
  border-radius: 10px;
}
.Setting_Page_Change_Profile_Picture_Container {
  width: 95%;
  background-color: var(--primary-color-darker-1);
  margin-top: 10px;
  border-radius: 10px;
}
.Setting_Page_Change_Profile_Picture_Container h1 {
  font-size: 0.9rem;
  font-family: var(--primary-font-family);
  margin: 10px 0px 0px 10px;
}
.Setting_Page_Change_Profile_Picture_Container_Top_Part {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 0px 15px 0px;
  /* border: 1px solid red; */
}
.Setting_Page_Change_Profile_Picture_Container_Top_Part label {
  position: relative;
  display: flex;
  /* border: 1px solid blue; */
}
.Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  transition-duration: 200ms;
  cursor: pointer;
  object-fit: cover;
}
.Setting_Page_Change_Profile_Image_Info {
  /* border: 1px solid black; */
  background-color: #464646;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition-duration: 200ms;
  cursor: pointer;
}
.Setting_Page_Change_Profile_Image_Info:hover {
  transform: scale(1.05);
}
.Setting_Page_Change_Profile_Image_Upload_Icon {
  width: 0.6rem;
  height: 0.6rem;
  color: wheat;
}
.Setting_Page_Change_Profile_Image_Info p {
  font-size: 0.6rem;
  color: white;
  margin-left: 3px;
}
#user-profile-input {
  visibility: hidden;
  position: absolute;
}
.Setting_Page_Change_Profile_Input_and_Button_Container {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Setting_Page_Change_Profile_Url_Image_Input_Field {
  width: 100%;
  border-radius: 8px;
  border-width: 0px;
  /* box-shadow: 0px 0px 5px rgb(231, 231, 231); */
  border-color: rgb(180, 180, 180);
  /* border-style: solid; */
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  margin: 0px 1rem 1rem 1rem;
}

.Setting_Container_With_Input_Field,
.Setting_Page_Delete_User_Profile_Container {
  width: 90%;
  /* height: 100px; */
  border-width: 0px;
  border-style: solid;
  border-color: rgb(223, 223, 223);
  margin: 2%;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--primary-color-darker-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* box-shadow: 0px 0px 10px rgb(204, 204, 204); */
}
.Setting_Container_With_Input_Field h1,
.Setting_Page_Delete_User_Profile_Container h1,
.Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.Setting_Container_With_Input_Field form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Setting_Container_With_Input_Field form input,
.Setting_Container_With_Input_Field input {
  width: 65%;
  border-radius: 5px;
  border-width: 0px;
  /* box-shadow: 0px 0px 5px rgb(231, 231, 231); */
  border-color: rgb(180, 180, 180);
  border-style: solid;
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Setting_Container_With_Input_Field form input:focus,
.Setting_Container_With_Input_Field input:focus,
.Setting_Page_Change_Profile_Url_Image_Input_Field:focus {
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
}
.Setting_Container_With_Input_Field form input:read-write,
.Setting_Container_With_Input_Field input:read-write,
.Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}
.Setting_Container_With_Input_Field form button {
  width: 15%;
  border-radius: 10px;
  border-width: 0px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.7rem;
  height: 45px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: var(--primary-font-family);
  transition-duration: 100ms;
}
.Setting_Container_With_Input_Field form button:hover,
.Setting_Page_Delete_User_Profile_Container button:hover,
.Setting_Page_Change_Profile_Picture_Container_Top_Part button:hover {
  background-color: var(--primary-color-button-hover-color);
}
.Setting_Container_With_Input_Field p,
.Setting_Page_Delete_User_Profile_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  margin-top: 5px;
}
.Setting_Page_Delete_User_Profile_Container button,
.Setting_Page_Change_Profile_Picture_Container_Top_Part button {
  padding: 0px 10px 0px 10px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  margin-top: 15px;
  font-family: var(--primary-font-family);
  transition-duration: 100ms;
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    height: 40px;
  }
  .Setting_Container_With_Input_Field form button {
    height: 40px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    height: 40px;
  }
  .Setting_Page_Change_Profile_Url_Image_Input_Field {
    height: 40px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .SettingPage_Container {
    top: 5rem;
    left: 15%;
    width: 55%;
  }
  .Setting_Page_Change_Profile_Picture_Container {
    margin-top: 10px;
    border-radius: 9px;
  }
  .Setting_Page_Change_Profile_Picture_Container h1 {
    font-size: 0.85rem;
    margin: 9px 0px 0px 9px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part {
    width: 100%;
    margin-bottom: 8px;
    padding: 13px 0px 13px 0px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
    width: 7rem;
    height: 7rem;
  }
  .Setting_Page_Change_Profile_Url_Image_Input_Field {
    border-radius: 7px;
    height: 40px;
  }

  .Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
    font-size: 0.75rem;
    margin: 0px 1rem 0.8rem 1rem;
  }

  .Setting_Container_With_Input_Field,
  .Setting_Page_Delete_User_Profile_Container {
    margin: 2%;
    border-radius: 8px;
    padding: 13px;
  }
  .Setting_Container_With_Input_Field h1,
  .Setting_Page_Delete_User_Profile_Container h1,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
    font-size: 0.85rem;
    margin-bottom: 8px;
  }
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    width: 65%;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Setting_Container_With_Input_Field form input:read-write,
  .Setting_Container_With_Input_Field input:read-write,
  .Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.75rem;
  }
  .Setting_Container_With_Input_Field form button {
    border-radius: 8px;
    font-size: 0.7rem;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Setting_Container_With_Input_Field p,
  .Setting_Page_Delete_User_Profile_Container p {
    font-size: 0.75rem;
    margin-top: 5px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    padding: 0px 10px 0px 10px;
    height: 40px;
    border-radius: 8px;
    font-size: 0.7rem;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .SettingPage_Container {
    top: 5rem;
    left: 100px;
    width: calc(100% - 100px - 30%);
  }
  .Setting_Page_Change_Profile_Picture_Container {
    margin-top: 10px;
    border-radius: 9px;
  }
  .Setting_Page_Change_Profile_Picture_Container h1 {
    font-size: 0.85rem;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
    width: 6.5rem;
    height: 6.5rem;
  }
  .Setting_Page_Change_Profile_Image_Info {
    border-radius: 4px;
  }
  .Setting_Page_Change_Profile_Image_Upload_Icon {
    width: 0.55rem;
    height: 0.55rem;
  }
  .Setting_Page_Change_Profile_Image_Info p {
    font-size: 0.55rem;
  }
  .Setting_Page_Change_Profile_Url_Image_Input_Field {
    border-radius: 7px;
    height: 38px;
  }

  .Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
    font-family: var(--primary-font-family);
    font-size: 0.73rem;
    margin: 0px 1rem 0.8rem 1rem;
  }

  .Setting_Container_With_Input_Field,
  .Setting_Page_Delete_User_Profile_Container {
    width: 90%;
    margin: 2%;
    border-radius: 8px;
    padding: 14px;
  }
  .Setting_Container_With_Input_Field h1,
  .Setting_Page_Delete_User_Profile_Container h1,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
    font-size: 0.85rem;
    margin-bottom: 8px;
  }
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    border-radius: 5px;
    border-width: 0px;
    height: 38px;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  .Setting_Container_With_Input_Field form input:read-write,
  .Setting_Container_With_Input_Field input:read-write,
  .Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.73rem;
  }
  .Setting_Container_With_Input_Field form button {
    border-radius: 7.5px;
    font-size: 0.67rem;
    height: 38px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Setting_Container_With_Input_Field p,
  .Setting_Page_Delete_User_Profile_Container p {
    font-size: 0.75rem;
    margin-top: 4px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    padding: 0px 10px 0px 10px;
    height: 38px;
    border-radius: 7.5px;
    font-size: 0.67rem;
    margin-top: 13px;
  }
}

@media screen and (max-width: 850px) {
  .SettingPage_Container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 850px) {
  .SettingPage_Container {
    width: calc(100% - 90px);
    left: 90px;
  }
}

@media screen and (max-width: 768px) {
  .SettingPage_Container {
    top: 5rem;
    left: 60px;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .SettingPage_Container {
    top: 4rem;
    left: 45px;
    width: calc(100% - 45px);
  }
  .Setting_Page_Change_Profile_Picture_Container {
    margin-top: 15px;
    border-radius: 5px;
  }
  .Setting_Page_Change_Profile_Picture_Container h1 {
    font-size: 0.73rem;
    margin: 6px 0px 0px 9px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part {
    margin-bottom: 7px;
    padding: 10px 0px 10px 0px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label {
    position: relative;
    display: flex;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
    width: 5.5rem;
    height: 5.5rem;
  }
  .Setting_Page_Change_Profile_Image_Upload_Icon {
    width: 0.5rem;
    height: 0.5rem;
  }
  .Setting_Page_Change_Profile_Image_Info p {
    font-size: 0.5rem;
    margin-left: 3px;
  }
  .Setting_Page_Change_Profile_Input_and_Button_Container {
    width: 45%;
  }
  .Setting_Page_Change_Profile_Url_Image_Input_Field {
    border-radius: 3px;
    border-width: 0px;
    height: 33px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
    font-size: 0.65rem;
    margin: 0px 1rem 0.8rem 1rem;
  }

  .Setting_Container_With_Input_Field,
  .Setting_Page_Delete_User_Profile_Container {
    margin: 2%;
    border-radius: 5px;
    padding: 8px;
  }
  .Setting_Container_With_Input_Field h1,
  .Setting_Page_Delete_User_Profile_Container h1,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
    font-size: 0.73rem;
    margin-bottom: 5px;
  }
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    width: 65%;
    border-radius: 3px;
    border-width: 0px;
    height: 33px;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  .Setting_Container_With_Input_Field form input:read-write,
  .Setting_Container_With_Input_Field input:read-write,
  .Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.7rem;
  }
  .Setting_Container_With_Input_Field form button {
    height: fit-content;
    padding: 8px 5px;
    border-radius: 4px;
    border-width: 0px;
    font-size: 0.55rem;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Setting_Container_With_Input_Field p,
  .Setting_Page_Delete_User_Profile_Container p {
    font-size: 0.7rem;
    margin-top: 4px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    padding: 8px 8px;
    height: fit-content;
    border-radius: 4px;
    border-width: 0px;
    font-size: 0.55rem;
    cursor: pointer;
    margin-top: 15px;
  }
}

@media screen and (max-width: 320px) {
  .SettingPage_Container {
    top: 3.5rem;
    left: 40px;
    width: calc(100% - 40px);
  }
  .Setting_Page_Change_Profile_Picture_Container {
    width: 90%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .Setting_Page_Change_Profile_Picture_Container h1 {
    font-size: 0.73rem;
    margin: 6px 0px 0px 9px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part {
    width: 100%;
    margin-bottom: 7px;
    flex-direction: column;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
    width: 5.5rem;
    height: 5.5rem;
  }
  .Setting_Page_Change_Profile_Image_Upload_Icon {
    width: 0.5rem;
    height: 0.5rem;
  }
  .Setting_Page_Change_Profile_Image_Info p {
    font-size: 0.5rem;
    margin-left: 3px;
  }
  .Setting_Page_Change_Profile_Input_and_Button_Container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Setting_Page_Change_Profile_Url_Image_Input_Field {
    width: 100%;
    border-radius: 3px;
    border-width: 0px;
    height: 33px;
    margin-bottom: 7px;
    margin-top: 7px;
  }

  .Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
    font-size: 0.65rem;
    margin: 0px 1rem 0.8rem 1rem;
  }

  .Setting_Container_With_Input_Field,
  .Setting_Page_Delete_User_Profile_Container {
    width: 85%;
    border-width: 0px;
    margin: 2%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Setting_Container_With_Input_Field h1,
  .Setting_Page_Delete_User_Profile_Container h1,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
    font-size: 0.73rem;
    margin-bottom: 5px;
  }
  .Setting_Container_With_Input_Field form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Setting_Container_With_Input_Field {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    width: 85%;
    border-radius: 3px;
    border-width: 0px;
    border-style: solid;
    height: 33px;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  .Setting_Container_With_Input_Field form input:read-write,
  .Setting_Container_With_Input_Field input:read-write,
  .Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
    font-size: 0.7rem;
  }
  .Setting_Container_With_Input_Field form button {
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    border-radius: 4px;
    border-width: 0px;
    font-size: 0.55rem;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Setting_Container_With_Input_Field p,
  .Setting_Page_Delete_User_Profile_Container p {
    font-size: 0.7rem;
    margin-top: 4px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    padding: 8px 10px;
    height: fit-content;
    border-radius: 4px;
    border-width: 0px;
    font-size: 0.55rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 280px) {
  .SettingPage_Container {
    top: 3.3rem;
  }
  .Setting_Page_Change_Profile_Picture_Container {
    width: 90%;
  }
  .Setting_Page_Change_Profile_Picture_Container h1 {
    font-size: 0.7rem;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part {
    padding: 10px 0px 10px 0px;
  }
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label img {
    width: 5.5rem;
    height: 5.5rem;
  }
  .Setting_Page_Change_Profile_Image_Upload_Icon {
    width: 0.45rem;
    height: 0.45rem;
  }
  .Setting_Page_Change_Profile_Image_Info p {
    font-size: 0.45rem;
  }

  .Setting_Page_Change_Profile_Picture_Container_Bottom_Part p {
    font-size: 0.6rem;
    margin: 0px 0.5rem 0.5rem 0.5rem;
  }

  .Setting_Container_With_Input_Field h1,
  .Setting_Page_Delete_User_Profile_Container h1,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part label h1 {
    font-size: 0.7rem;
  }
  .Setting_Container_With_Input_Field form input,
  .Setting_Container_With_Input_Field input {
    height: 30px;
  }
  .Setting_Container_With_Input_Field form input:read-write,
  .Setting_Container_With_Input_Field input:read-write,
  .Setting_Page_Change_Profile_Url_Image_Input_Field:read-write {
    font-size: 0.6rem;
  }
  .Setting_Container_With_Input_Field form button {
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 0.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .Setting_Container_With_Input_Field p,
  .Setting_Page_Delete_User_Profile_Container p {
    font-size: 0.6rem;
    margin-top: 4px;
  }
  .Setting_Page_Delete_User_Profile_Container button,
  .Setting_Page_Change_Profile_Picture_Container_Top_Part button {
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 0.5rem;
    margin-top: 5px;
  }
}
