@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap");
@keyframes Stories-Page-Main-Animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#Stories_Page_Container {
  width: 100%;
  height: 100vh;
  position: absolute;
  animation-name: Stories-Page-Main-Animation;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  background-color: #615028e5;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
}

#carousel-stories-container {
  width: 80%;
  height: 680px;
  font-family: "Helvetica Neue", "Roboto Mono", "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carousel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

#menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  transition: all 0.6s ease-in-out;
  justify-content: space-evenly;
  position: relative;
  transition: 2s;
}
#Carousel-Stories-Close-icon {
  font-size: 1.3rem;
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition-duration: 300ms;
  color: black;
}
#Carousel-Stories-Close-icon:hover {
  transform: scale(1.05);
}
#current-option {
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
#current-option-text1 {
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  overflow: hidden;
}
#current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}

#current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}
#current-option-text2 {
  font-size: 0.8rem;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
}
#current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
}
#button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20%;
}

.Next_Button,
.Previous_Button {
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
}

#next-option {
  transform: rotate(180deg);
}
#image {
  border-radius: 8px;
  height: 85%;
  width: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
}
.anim-next {
  pointer-events: none;
}
.anim-next #current-option-text1 {
  animation: next-text 0.65s 0.085s;
}
.anim-next #current-option-text2 {
  animation: next-text 0.65s 0.085s;
}
.anim-next #previous-option {
  animation: next-top-arrow 0.65s 0.085s;
}
.anim-next #next-option {
  animation: next-bottom-arrow 0.65s 0.085s;
}
.anim-next #image {
  animation: next-image 0.65s 0.085s;
}
.anim-previous {
  pointer-events: none;
}
.anim-previous #current-option-text1 {
  animation: previous-text 0.65s 0.085s;
}
.anim-previous #current-option-text2 {
  animation: previous-text 0.65s 0.085s;
}
.anim-previous #previous-option {
  animation: previous-top-arrow 0.65s 0.085s;
}
.anim-previous #next-option {
  animation: previous-bottom-arrow 0.65s 0.085s;
}
.anim-previous #image {
  animation: previous-image 0.65s 0.085s;
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 90vh);
  }
  to {
    transform: translate(0%, 100vh);
  }
}
@keyframes previous-top-arrow {
  50% {
    /* transform: translate(0px, 53px); */
  }
}
@keyframes previous-bottom-arrow {
  50% {
    /* transform: rotate(180deg); */
  }
}
@keyframes previous-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -100vh);
  }
  to {
    transform: translate(0%, -90vh);
  }
}
@keyframes next-top-arrow {
  50% {
    /* transform: translate(310px, 47px); */
  }
}
@keyframes next-bottom-arrow {
  50% {
    /* transform: rotate(180deg); */
  }
}
@keyframes next-image {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  #image {
    height: 85%;
    width: 43%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #current-option-text1 {
    font-size: 1.45rem;
  }

  #current-option-text2 {
    font-size: 0.75rem;
  }
  .Next_Button,
  .Previous_Button {
    width: 1.7rem;
    height: 1.7rem;
  }

  #image {
    width: 40%;
  }
}

@media (max-height: 850px) and (min-height: 600px) {
  #carousel-stories-container {
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  #carousel-stories-container {
    width: 75%;
    height: 90vh;
  }

  #menu {
    flex-direction: column;
  }
  #Carousel-Stories-Close-icon {
    font-size: 1.2rem;
  }
  #current-option {
    width: 90%;
    height: 25%;
  }
  #current-option-text1 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  #current-option-text1::before {
    transform: translate(-100vw, 0%);
  }

  #current-option-text1::after {
    transform: translate(100vw, 0%);
  }
  #current-option-text2 {
    font-size: 0.8rem;
    width: 180px;
    height: 25px;
  }
  #current-option-text2::before {
    transform: translate(-100vw, 0%);
  }
  #current-option-text2::after {
    transform: translate(-100vw, 0%);
  }
  #button-container {
    height: 10%;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    gap: 25%;
  }

  .Next_Button,
  .Previous_Button {
    width: 1.7rem;
    height: 1.7rem;
  }

  #next-option {
    transform: rotate(-90deg);
  }

  #previous-option {
    transform: rotate(90deg);
  }

  #image {
    height: 55%;
    width: 70%;
  }
  @keyframes next-text {
    50%,
    55% {
      transform: translate(-100vw, 0%);
    }
    to {
      transform: translate(-90vw, 0%);
    }
  }
  @keyframes previous-text {
    50%,
    55% {
      transform: translate(90vw, 0%);
    }
    to {
      transform: translate(100vw, 0%);
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  #carousel-stories-container {
    width: 80%;
    height: 90vh;
  }

  #menu {
    flex-direction: column;
  }
  #Carousel-Stories-Close-icon {
    font-size: 1.1rem;
    top: 0.5rem;
    right: 0.5rem;
  }
  #current-option {
    width: 90%;
    height: 25%;
  }
  #current-option-text1 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  #current-option-text2 {
    font-size: 0.7rem;
    width: 150px;
    height: 20px;
  }

  #button-container {
    height: 8%;
  }

  .Next_Button,
  .Previous_Button {
    width: 1.6rem;
    height: 1.6rem;
  }

  #image {
    height: 55%;
    width: 70%;
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  #carousel-stories-container {
    width: 80%;
    height: 80vh;
  }

  #menu {
    flex-direction: column;
  }
  #Carousel-Stories-Close-icon {
    font-size: 1rem;
    top: 0.5rem;
    right: 0.5rem;
  }
  #current-option {
    width: 90%;
    height: 25%;
  }
  #current-option-text1 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  #current-option-text2 {
    font-size: 0.6rem;
    width: 150px;
    height: 20px;
  }

  #button-container {
    height: 5%;
  }

  .Next_Button,
  .Previous_Button {
    width: 1.4rem;
    height: 1.4rem;
  }

  #image {
    height: 50%;
    width: 80%;
  }
}

@media screen and (max-width: 280px) {
  #carousel-stories-container {
    width: 240px;
    height: 80vh;
  }

  #menu {
    flex-direction: column;
  }
  #Carousel-Stories-Close-icon {
    font-size: 0.8rem;
    top: 0.5rem;
    right: 0.5rem;
  }
  #current-option {
    width: 90%;
    height: 25%;
  }
  #current-option-text1 {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  #current-option-text2 {
    font-size: 0.5rem;
    width: 100px;
    height: 10px;
  }

  #button-container {
    height: 3%;
  }

  .Next_Button,
  .Previous_Button {
    width: 1.2rem;
    height: 1.2rem;
  }

  #image {
    height: 50%;
    width: 85%;
  }
}
