.VideoPage {
  width: 50%;
  position: relative;
  /* border: 1px solid red; */
  left: 20%;
  top: 5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 18vh); */
}

.VideoPage_Header {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 90%;
}
.VideoPage_Icon_and_Title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 1px solid blue; */
}

.VideoPage_Icon {
  font-size: 1.5rem;
}
.VideoPage_Search_Form_Field {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(109, 107, 107);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.VideoPage_Search_Icon {
  color: var(--lower-opacity-font-color);
}

.VideoPage_Search_Input_Field {
  height: 40px;
  width: 80%;
  border-width: 0px;
  background-color: transparent;
}

.VideoPage_Search_Input_Field:focus {
  outline: none;
}

.VideoPage_Search_Input_Field:read-only {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  color: var(--lower-opacity-font-color);
}

.VideoPage_Videos_Container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.VideoPage_Youtube_Video_Info_Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.VideoPage_Youtube_Video {
  width: 90%;
  height: 450px;
  margin-top: 1rem;
}

.VideoPage_Youtube_Video_Image {
  width: 90%;
  height: 450px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 200ms;
}

.VideoPage_Youtube_Video_Image:hover {
  transform: scale(1.01);
}

.VidePage_Youtube_Video_Title {
  margin-top: 1rem;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-style: italic;
  /* border: 1px solid red; */
  width: 85%;
}

.VideoPage_LoadingSpinner_Container {
  width: 50%;
  position: relative;
  left: 20%;
  top: 5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 5rem);
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .VideoPage_Youtube_Video,
  .VideoPage_Youtube_Video_Image {
    height: 350px;
  }
  .VideoPage_Search_Input_Field {
    height: 30px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .VideoPage {
    width: calc(100% - 29% - 15%);
    left: 15%;
    top: 5rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 29% - 15%);
    left: 15%;
    top: 5rem;
    height: calc(100vh - 5rem);
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .VideoPage {
    width: 60%;
    left: 100px;
    top: 5rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: 60%;
    left: 100px;
    top: 5rem;
    height: calc(100vh - 5rem);
  }
}

@media screen and (max-width: 850px) {
  .VideoPage {
    width: calc(100% - 100px);
    left: 100px;
    top: 5rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 100px);
    left: 100px;
    top: 5rem;
    height: calc(100vh - 5rem);
  }
}

@media screen and (max-width: 800px) {
  .VideoPage {
    left: 90px;
    width: calc(100% - 90px);
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 90px);
    left: 90px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .VideoPage {
    width: calc(100% - 60px);
    left: 60px;
    top: 5rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 60px);
    left: 60px;
    top: 5rem;
    height: calc(100vh - 5rem);
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .VideoPage {
    width: calc(100% - 45px);
    left: 45px;
    top: 4rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 45px);
    left: 45px;
    top: 4rem;
    height: calc(100vh - 4rem);
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  .VideoPage {
    width: calc(100% - 40px);
    left: 40px;
    top: 3.5rem;
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 40px);
    left: 40px;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
  }
}

@media screen and (max-width: 280px) {
  .VideoPage {
    width: calc(100% - 40px);
    left: 40px;
    top: 3rem;
    height: calc(100vh - 4rem);
  }
  .VideoPage_LoadingSpinner_Container {
    width: calc(100% - 40px);
    left: 40px;
    top: 3rem;
    height: calc(100vh - 3rem);
  }
}
