* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
/* Styling Sign In Page------------------------------------ */
:root {
  --Page-Background-Color: #f3f3f3;
  --primary-color: #8b37ca;
  --primary-color-point-9: #8a37caf1;
  --primary-color-point-7: #8e3fcad7;
  --primary-color-darker-5: #7931b1;
  --primary-color-lighter-1: #873cc0;
  --primary-color-button-hover-color: #8f44c9;
  --secondary-color: #c929a6;
  --secondary-color-point-1-transparent-0: #f7e0f2;
  --secondary-color-point-2: #b359a021;
  --secondary-color-point-4: #e665ca36;
  --secondary-color-point-7: #d8a3cdd8;
  --secondary-color-point-9: #d43eb4e8;
  --input-field-font-family: "Raleway", sans-serif;
  --primary-font-family: "Raleway", sans-serif;
  --lower-opacity-font-color: rgb(73, 73, 73);
  --medium-opacity-font-color: rgb(54, 54, 54);
  --home-page-content-width: 80%;
  --logo-icon-low-opacity-black-color: #333333;
  --logo-icon-low-opacity-black-color-point-3: #555555;
  /* --emoji-picker-background-color: rgb(85, 38, 85); */
  --emoji-picker-background-color: #674086;
}
body {
  background-color: var(--Page-Background-Color);
  overflow-y: scroll;
}

/* Designing Scrollbar */

/* this has to be in the exact same order */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #522572;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #604175;
}

@media screen and (min-width: 1900px) {
  * {
    font-size: 28px;
  }
}

/* Designing MainPage SideBar---------------------------------------- */

.MainPage_SideBar_Container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  height: 100vh;
  /* justify-content: space-between; */
  background-color: white;
  box-shadow: 5px 0px 15px rgb(211, 211, 211);
}
.MainPage_SideBar_Logo_Search_Container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 14%;
  margin-left: 2%;
}
.MainPage_SideBar_Page_Logo {
  height: 3rem;
}
.MainPage_SideBar_Search_Outline {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  margin-left: 3%;
  height: 40%;
  border-color: rgb(122, 122, 122);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 1rem;
  padding-left: 10px;
}
.MainPage_SideBar_Search_Icon {
  color: rgb(92, 92, 92);
  width: 1.4rem;
}
.MainPage_SideBar_Search_Input_Field {
  /* border: 1px solid red; */
  width: 65%;
  border-width: 0px;
  height: 90%;
  color: rgb(92, 92, 92);
  margin-left: 1.5%;
}
.MainPage_SideBar_Search_Back_Icon {
  color: rgb(92, 92, 92);
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}
.MainPage_SideBar_Search_Input_Field:read-write {
  padding-left: 10px;
  color: rgb(92, 92, 92);
  font-family: var(--input-field-font-family);
  font-size: 0.9rem;
  font-weight: 600;
}
.MainPage_SideBar_Search_Input_Field:focus {
  outline: none;
}
.MainPage_SideBar_Menu_Container {
  /* border: 1px solid blue; */
  height: 37%;
}
.MainPage_SideBar_Menu_NavLink_Container {
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MainPage_SideBar_Menu_NavLink_Container a {
  display: flex;
  cursor: pointer;
  padding: 2% 0% 2% 0%;
  align-items: center;
  border-radius: 0px 1rem 1rem 0px;
  transition-duration: 100ms;
  text-decoration: none;
}
.MainPage_SideBar_Menu_NavLink_Container a:hover {
  background-color: var(--secondary-color-point-2);
}
/* .MainPage_SideBar_Menu_NavLink_Container a span {
  height: 1.5rem;
  cursor: pointer;
} */
.MainPage_SideBar_Menu_Home_Logo {
  margin-left: 2%;
  color: var(--logo-icon-low-opacity-black-color-point-3);
  height: 1.6rem;
  width: 1.6rem;
}
.MainPage_SideBar_Menu_NavLink_Container a h3 {
  margin-left: 5%;
  color: var(--lower-opacity-font-color);
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  letter-spacing: 0.5px;
}
.MainPage_SideBar_Menu_SelectBar_Colored {
  width: 12px;
  height: 120%;
  /* background-color: var(--primary-color-point-7); */
}
.MainPage_SideBar_Menu_Title {
  font-family: var(--primary-font-family);
  color: var(--lower-opacity-font-color);
  font-size: 0.9rem;
  margin-left: 5%;
  /* border: 1px solid black; */
  height: 8%;
}
.MainPage_SideBar_Friends_Container {
  /* border: 1px solid purple; */
  height: 35%;
  margin: 1% 4% 1% 4%;
  background-color: var(--secondary-color-point-2);
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 2% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid red; */
  height: 10%;
}
.MainPage_SideBar_Friends_Inner_Container {
  width: 100%;
  height: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition-duration: 100ms;
}

.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar {
  width: 7px;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Inner_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.MainPage_SideBar_Friend_Outline {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.MainPage_SideBar_Friend_Image {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 7%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_Friend_Name {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
}
.MainPage_SideBar_Friend_Name:hover {
  text-decoration: underline;
}
.MainPage_SideBar_Friend_Active_Status {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50%;
  border-radius: 1rem;
  background-color: var(--primary-color-point-7);
}
.MainPage_SideBar_Friend_Active_Status p {
  font-family: var(--primary-font-family);
  font-size: 0.5rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  color: white;
}
.MainPage_SideBar_User_Account_LogOut_Container {
  height: 14%;
}
.MainPage_SideBar_Account_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 1% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid orangered; */
  height: 25%;
}
.MainPage_SideBar_User_Account_Logout_Outline {
  display: flex;
  /* border: 1px solid black; */
  height: 75%;
  align-items: center;
  justify-content: space-between;
}
.MainPage_SideBar_User_Account_Img {
  margin-left: 3%;
  height: 2.75rem;
  width: 2.75rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_User_Account_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: rgb(51, 51, 51);
  cursor: pointer;
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MainPage_SideBar_User_Account_Name:hover {
  text-decoration: underline;
}
.MainPage_LogOut_Icon {
  margin-left: 4%;
  height: 1rem;
  cursor: pointer;
}
.MainPage_SideBar_User_Logout_Button {
  margin-right: 5%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
}
.MainPage_SideBar_User_Logout_Button:hover {
  text-decoration: underline;
}

.MainPage_SideBar_Horizontal_Line {
  width: 90%;
  margin-left: 5%;
  /* height: 0.5px; */
  background-color: rgb(197, 197, 197);
}

/* Designing Main Page User Stories ----------------------------- */
.MainPage_User_Stories_Container {
  width: 50%;
  height: 14%;
  position: fixed;
  left: 20%;
  background-color: white;
  box-shadow: 12px 5px 15px rgb(211, 211, 211);
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.Current_User_Story_Container,
.Friends_Story_Container {
  /* border: 1px solid blue; */
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Current_User_Story_Picure_Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Current_User_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1.5px;
  width: 2.7rem;
  border-radius: 50%;
  filter: brightness(0.89);
  cursor: pointer;
  transition-duration: 50ms;
  z-index: 1;
}
.Current_User_Story_Picture:hover {
  transform: scale(1.05);
}
.Current_User_Story_Add_Icon {
  position: absolute;
  filter: brightness(0.97);
  cursor: pointer;
  z-index: 2;
}
.Current_User_Story_Add_Icon:hover + .Current_User_Story_Picture {
  transform: scale(1.05);
}
.Friend_Story_Name {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.Current_User_Story_Name:hover,
.Friend_Story_Name:hover {
  text-decoration: underline;
}
.Friend_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(230, 94, 207, 0.425);
  padding: 1.5px;
  cursor: pointer;
  transition-duration: 150ms;
}
.Friend_Story_Picture:hover {
  transform: scale(1.03);
}

/* Designing Main Page Message and Notification Bar----------------- */
.MainPage_Message_and_Notification_Bar_Container {
  width: 30%;
  /* border: 1px solid red; */
  height: 14%;
  position: fixed;
  left: 70%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.MainPage_Message_and_Notification_Bar_Container div {
  border-radius: 50%;
  display: flex;
  border: 2px solid rgb(145, 145, 145);
  cursor: pointer;
  transition-duration: 100ms;
  box-shadow: 0px 0px 10px rgba(163, 162, 162, 0.486);
}
.MainPage_Message_and_Notification_Bar_Container div:hover {
  background-color: rgba(214, 214, 214, 0.836);
}
.MainPage_Message_Bar_Message_Outline {
  padding: 1.2%;
}
.MainPage_Message_Bar_Notification_Outline {
  padding: 1.2% 1.5% 1.2% 1.5%;
}

.MainPage_Message_Bar_Message_Outline img {
  height: 1.9rem;
}
.MainPage_Message_Bar_Notification_Outline img {
  height: 1.9rem;
}
.MainPage_Message_Bar_More_Outline {
  padding: 4% 3% 3% 3%;
}
.MainPage_Message_Bar_More_Outline img {
  height: 1rem;
}

.MainPage_Message_Bar_Profile {
  height: 2.6rem;
  width: 2.6rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

/* Designing Main Page rignt side component ---------------------------------*/
/* Suggestion User Design and Followed By */
.MainPage_Rignt_Side_Component_Container {
  width: 28.5%;
  height: 96%;
  /* border: 1px solid red; */
  position: fixed;
  top: 14%;
  left: 70.5%;
}
/* @keyframes Convert_MainPage_UserSuggession_Container_To_MaxView {
  from {
    height: 14%;
  }
  to {
    height: 40%;
  }
} */
.MainPage_UserSuggession_Container {
  background-color: white;
  border-radius: 10px;
  height: 40%;
  transition-duration: 500ms;
}
/* @keyframes Convert_MainPage_UserSuggession_Container_To_MinView {
  from {
    height: 40%;
  }
  to {
    height: 14%;
  }
} */
.MainPage_UserSuggession_Container_MinView {
  background-color: white;
  border-radius: 10px;
  height: 11%;
  padding-bottom: 5.5%;
}
.MainPage_UserSuggession_Title,
.MainPage_FollowedBy_Title,
.MainPage_SponsoredBy_Title {
  /* border: 1px solid red; */
  margin: 0% 0% 0% 5%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 1.5%;
}
.MainPage_UserSuggession_Inner_Container,
.MainPage_FollowedBy_Inner_Container {
  height: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.MainPage_Suggested_User_Container,
.MainPage_Followed_User_Container {
  /* border: 1px solid black; */
  display: flex;
  width: 95%;
  align-items: center;
  border-radius: 0.6rem;
  background-color: var(--secondary-color-point-4);
  padding: 2px 0px 2px 0px;
  margin: 2.5% 0% 2.5% 0%;
}
.MainPage_Suggested_User_Image,
.MainPage_Followed_User_Image {
  margin-left: 3%;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_Suggested_User_Name_Container,
.MainPage_Followed_User_Name_Container {
  margin-left: 2%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.MainPage_Suggested_User_Name,
.MainPage_Followed_User_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--medium-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Suggested_User_Follower_Name,
.MainPage_Followed_User_Follower_Name {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Suggested_User_Follow_Button,
.MainPage_Followed_User_Follow_Button {
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-left: 2%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition-duration: 50ms;
}
.MainPage_Suggested_User_Follow_Button:hover,
.MainPage_Followed_User_Follow_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}
.MainPage_Suggested_User_Follow_Button_Text,
.MainPage_Followed_User_Follow_Button_Text {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 600;
  color: white;
}
.MainPage_FollowedBy_Container {
  margin-top: 2%;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  height: 28%;
}
/* @keyframes Convert_MainPage_FollowedBy_Container_To_MinView {
  from {
    height: 28%;
  }
  to {
    height: 13%;
  }
} */
.MainPage_FollowedBy_Container_MinView {
  margin-top: 2%;
  background-color: white;
  border-radius: 10px;
  height: 10%;
  padding-bottom: 6%;
}
.MainPage_Followed_User_Container {
  background-color: rgba(218, 218, 218, 0.5);
}
/* Designing Sponsored By  */
.MainPage_SponsoredBy_Container {
  margin-top: 2%;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  height: 18%;
}
.MainPage_SponsoredBy_Title {
  /* border: 1px solid red; */
  padding-top: 1%;
  height: 15%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.MainPage_SponsoredBy_Inner_Container {
  /* border: 1px solid red; */
  display: flex;
  height: 80%;
  align-items: center;
}
.MainPage_Sponsored_Image {
  margin-left: 5%;
  width: 3rem;
  border-radius: 10px;
  cursor: pointer;
}
.MainPage_Sponsored_Name_Container {
  /* border: 1px solid blue; */
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}
.MainPage_Sponsored_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--medium-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Sponsored_Info {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Sponsored_genre {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}

/* 
@ Designing MainPage MessageBox
*/
.MainPage_MessageBox_Container {
  /* border: 1px solid red; */
  height: 59%;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
}
.MainPage_Scrollable_MessageBox_Container {
  height: 94%;
  overflow-y: auto;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
  /* border: 1px solid red; */
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar {
  width: 7px;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MainPage_Scrollable_MessageBox_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}
.MainPage_MessageBox_Title_Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  height: 7%;
}
.MainPage_MessageBox_Title_Container h4 {
  margin-left: 5%;
  font-family: var(--primary-font-family);
  letter-spacing: 1px;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}
.MainPage_MessageBox_Title_More_Icon {
  margin-right: 2%;
  color: var(--logo-icon-low-opacity-black-color);
}
.MainPage_MessageBox_Title_Search_Divider {
  /* margin: 0.4% 0% 0.4% 0%; */
  margin: 1%;
}
.MainPage_MessageBox_Search_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(65, 65, 65);
  border-radius: 1rem;
  margin: 0% 3% 0% 3%;
  height: 8%;
}
.MainPage_MessageBox_Search_Input_Field {
  border-width: 0px;
  width: 20%;
  margin-left: 2%;
}
.MainPage_MessageBox_Search_Input_Field::placeholder {
  color: var(--medium-opacity-font-color);
}
.MainPage_MessageBox_Search_Input_Field:read-write {
  outline: none;
  color: var(--medium-opacity-font-color);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.8rem;
}
.MainPage_MessageBox_Search_Icon {
  color: var(--logo-icon-low-opacity-black-color);
}
.MainPage_MessageBox_Message_Container {
  /* border: 1px solid blue; */
  height: max-content;
  max-height: 79.5%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 1%;
}
.MaiPage_MessageBox_UserMessage_Container {
  /* border: 1px solid black; */
  display: flex;
  margin: 0.5% 2% 1% 2%;
  border-radius: 0.5rem;
  height: 18.5%;
  align-items: center;
  justify-content: start;
  background-color: #9066b150;
  cursor: pointer;
  padding: 0.5% 0%;
  transition-duration: 100ms;
}
.MaiPage_MessageBox_UserMessage_Container:hover {
  background-color: #a183b950;
}
.MainPage_MessageBox_UserMessage_Picutre {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5%;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container h4 {
  font-family: var(--primary-font-family);
  font-size: 0.85rem;
  font-weight: 600;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 500;
}
.MainPage_MessageBox_See_More_Message_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage_MessageBox_See_More_Message_Container a {
  font-size: 0.7rem;
  text-decoration: none;
  font-family: var(--primary-font-family);
}
.MainPage_MessageBox_See_More_Message_Container a:hover {
  text-decoration: underline;
}

/* Designing Inner Box of the Message Box */
.MessageBox_InnerMessage_Container {
  /* border: 1px solid red; */
  background-color: #9066b150;
  width: 100%;
  height: 100%;
}
.MessageBox_InnerMessage_Upper_Part_Container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  margin: 0% 1% 0% 1%;
  padding: 1% 0% 1% 0%;
}
.MessageBox_InnerMessage_Upper_Part_Container img {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5%;
  cursor: pointer;
}
.MessageBox_InnerMessage_Upper_Part_Container h3 {
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 2%;
  cursor: pointer;
}
.MessageBox_InnerMessage_Upper_Part_Container h3:hover {
  text-decoration: underline;
}
.MessageBox_InnerMessage_Upper_Part_Close_Button {
  position: absolute;
  right: 5%;
  cursor: pointer;
  /* border: 1px solid blue; */
  border-radius: 50%;
  /* background-color: var(--primary-color); */
  color: black;
  padding: 1%;
}
.MessageBox_InnerMessage_Upper_Part_Close_Button:hover {
  background-color: #e7e7e75d;
}
.MessageBox_InnerMessage_Message_Container {
  /* background-color: var(--secondary-color-point-1-transparent-0); */
  /* border: 1px solid black; */
  height: 75%;
  margin: 1% 2% 0% 2%;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff5fd;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.MessageBox_InnerMessage_Message_Container::-webkit-scrollbar {
  width: 7px;
}
.MessageBox_InnerMessage_Message_Container::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.MessageBox_InnerMessage_Message_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MessageBox_InnerMessage_Message_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MessageBox_InnerMessage_Message_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}
.MessageBox_Inner_SingleMessage_Container {
  width: 67%;
  /* height: 20%; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 0.5% 0% 0.5% 0%;
  position: relative;
  /* left: 31%; */
}
.MessageBox_Inner_SingleMessage_Container img {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: cover;
  border-radius: 50%;
}
.MessageBox_Inner_SingleMessage {
  /* border: 1px solid blue; */
  background-color: #9066b150;
  width: 80%;
  height: auto;
  margin-left: 3%;
  padding: 2%;
  border-radius: 7px;
  overflow: hidden;
}
.MessageBox_Inner_SingleMessage p {
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
}
.MessageBox_LowerPart_InputField_Container {
  /* border: 1px solid red; */
  height: 10%;
  margin: 0% 2% 0% 2%;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff5fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MessageBox_LowerPart_InputField_Inner_Container {
  /* border: 1px solid blue; */
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fffafe;
  width: 100%;
  padding: 0% 1% 0% 1%;
  border-radius: 5px;
  height: 90%;
}
.MessageBox_LowerPart_InputField_Inner_Container input {
  border-width: 0px;
  width: 68%;
  height: 80%;
  background-color: #fffafe;
}
.MessageBox_LowerPart_InputField_Inner_Container input:read-write {
  outline: none;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
}
.MessageBox_LowerPart_InputField_Buttons {
  color: rgb(108, 91, 109);
  cursor: pointer;
}

/* Styling Emoji Mart package------------------------------------- */
.emoji-mart,
.emoji-mart-light {
  border-radius: 15px;
  border-width: 0px;
  background-color: var(--emoji-picker-background-color);
  position: absolute;
  left: 116%;
  top: -11px;
}
.emoji-mart-preview {
  position: absolute;
  visibility: hidden;
}
.emoji-mart-scroll {
  height: 200px;
}
.emoji-mart-category-label span {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  background-color: var(--emoji-picker-background-color);
  color: white;
}
.emoji-mart-anchor-icon svg {
  color: var(--secondary-color-point-1-transparent-0);
}
.emoji-mart-no-results-label {
  font-size: 18px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: white;
}
#emoji-mart-search-1 {
  background-color: var(--secondary-color-point-1-transparent-0);
  border-width: 0px;
}
#emoji-mart-search-1:read-write {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
}
.emoji-mart-search-icon {
  visibility: hidden;
}
.emoji-mart-scroll::-webkit-scrollbar {
  width: 10px;
}
.emoji-mart-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.emoji-mart-scroll::-webkit-scrollbar-thumb {
  /* background-color: transparent; */
  border-radius: 10px;
}
.emoji-mart-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-point-1-transparent-0);
}

/* Loading spinner design */
.HomePage_Post_Field_Response_Loading_Spinner_Container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 12, 20, 0.219);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePage_Post_Field_Response_Loading_Spinner {
  border: 13px solid #dddddd; /* Light grey */
  border-top: 13px solid var(--primary-color-darker-5); /* Blue */
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  animation: loadingSpinner 1s linear infinite;
}
@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Designing MainPage Search Bar */
@keyframes searchBar_animation {
  0% {
    min-height: 0%;
  }
  100% {
    min-height: 10%;
  }
}
.MainPage_SearchBar_Container {
  /* border: 1px solid red; */
  position: absolute;
  width: 90%;
  min-height: 5rem;
  /* transform: translate(10%, 15%); */
  top: 10%;
  left: 5%;
  border-radius: 10px;
  background-color: #8f59bbe7;
  /* animation-name: searchBar_animation;
  animation-duration: 0.3s; */
  /* overflow: hidden; */
}
.MainPage_SearchBar_Container h3 {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  color: white;
  margin: 2% 0% 2% 6%;
}
.MainPage_SearchBar_Container hr {
  margin: 0% 5% 0% 5%;
  border-color: rgb(230, 205, 233);
}
.MainPage_SearchBar_All_User_Container {
  width: 90%;
  min-height: 3rem;
  /* background-color: white; */
  margin-top: 2%;
  margin-left: 5%;
}
.MainPage_SearchBar_No_Result_Container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage_SearchBar_No_Result_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}
.MainPage_SearchBar_User_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  cursor: pointer;
  text-decoration: none;
}
.MainPage_SearchBar_User_Container:hover {
  background-color: #b180dae7;
}
.MainPage_SearchBar_User_Container img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 2%;
}
.MainPage_SearchBar_User_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.85rem;
  margin-left: 5%;
  /* border: 1px solid red; */
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Desing GetUserID Page ---------------------------------------*/
.GetUserIDPage_Container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 12, 20, 0.219);
}
.GetUserIDPage_Form_Container {
  width: 30%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
.GetUserIDPage_Form_Title {
  font-family: var(--primary-font-family);
  font-size: 1.8rem;
  color: var(--lower-opacity-font-color);
  margin-top: 5%;
}
.GetUserIDPage_Form_Explained_Paragraph {
  /* border: 1px solid red; */
  width: 80%;
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  text-align: center;
  margin: 1%;
}
.GetUserIDPage_Name_Form_Field {
  margin: 5%;
  width: 80%;
  height: 2rem;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(134, 133, 133);
}
.GetUserIDPage_Name_Form_Field:focus {
  outline: none;
}
.GetUserIDPage_Name_Form_Field:read-write {
  padding-left: 4%;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--lower-opacity-font-color);
}
.GetUserIDPage_Form_Udate_Profile_Text {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
}
.GetUserIDPage_Form_Update_Profile_Label {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
.GetUserIDPage_Form_Profile {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  transition-duration: 200ms;
}
.GetUserIDPage_Form_Profile:hover {
  transform: scale(1.05);
}
.GetUserIDPage_Form_Submit_Button {
  border-width: 0px;
  padding: 2.5% 10% 2.5% 10%;
  background-color: var(--primary-color);
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  transition-duration: 100ms;
}
.GetUserIDPage_Form_Submit_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}
