* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
/* Styling Sign In Page------------------------------------ */
:root {
  --Page-Background-Color: #f3f3f3;
  --primary-color: #8b37ca;
  --primary-color-point-9: #8a37caf1;
  --primary-color-point-7: #8e3fcad7;
  --primary-color-darker-5: #7931b1;
  --primary-color-lighter-1: #873cc0;
  --primary-color-button-hover-color: #8f44c9;
  --secondary-color: #c929a6;
  --secondary-color-point-1-transparent-0: #f7e0f2;
  --secondary-color-point-2: #b359a021;
  --secondary-color-point-4: #e665ca36;
  --secondary-color-point-7: #d8a3cdd8;
  --secondary-color-point-9: #d43eb4e8;
  --input-field-font-family: "Raleway", sans-serif;
  --primary-font-family: "Raleway", sans-serif;
  --lower-opacity-font-color: rgb(73, 73, 73);
  --medium-opacity-font-color: rgb(54, 54, 54);
  --home-page-content-width: 80%;
  --logo-icon-low-opacity-black-color: #333333;
  --logo-icon-low-opacity-black-color-point-3: #555555;
  /* --emoji-picker-background-color: rgb(85, 38, 85); */
  --emoji-picker-background-color: #674086;
}
body {
  background-color: var(--Page-Background-Color);
  overflow-y: scroll;
}

/* Designing Scrollbar */

/* this has to be in the exact same order */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #522572;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #604175;
}

.SignIn_Page_Container {
  background-color: var(--Page-Background-Color);
  width: 100%;
  height: 100vh;
  display: flex;
}
.SignIn_Page_Left_Half {
  height: 100%;
  width: 50%;
}
.SignIn_Page_Left_side_Upper_Logo_Part {
  padding: 5% 0% 0% 18%;
  height: 15%;
}
.SignIn_Page_Social_Logo {
  font-size: 2rem;
  letter-spacing: 4px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}
.SignIn_Page_Social_Logo::first-letter {
  font-size: 3rem;
  font-family: "Aladin", cursive;
  font-weight: 100;
}
.SignIn_Page_Sign_In_Logo {
  margin-left: 65px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Ramaraja", serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}
.SignIn_Container_Outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78%;
}
.SignIn_Container {
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  background-color: white;
}
.SignIn_Container input {
  width: 70%;
  height: 11%;
  border-radius: 7px;
  font-family: var(--input-field-font-family);
  font-weight: 600;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}
.SignIn_Container input::placeholder {
  font-size: 0.9rem;
  color: rgb(68, 68, 68);
  letter-spacing: 1px;
}
.SignIn_Container input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}
.SignIn_Container input:read-write {
  padding-left: 5%;
  color: rgb(83, 83, 83);
}
.SignIn_Email_Input_Field {
  margin-top: 10%;
}
.SingIn_Password_Field {
  margin-top: 5%;
}
.SignIn_Page_SignIn_Button {
  margin-top: 5%;
  width: 75%;
  height: 12%;
  border-radius: 10rem;
  border-width: 0px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignIn_Page_SignIn_Button:hover {
  background-color: var(--primary-color-point-9);
}
.SignIn_Page_Create_Account_Button {
  margin-top: 3%;
  width: 60%;
  height: 12%;
  border-radius: 10rem;
  border-width: 0px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition-duration: 100ms;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignIn_Page_Create_Account_Button:hover {
  background-color: var(--secondary-color-point-9);
}
.SignIn_Page_Forgot_Password_Button {
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 0.77rem;
  color: var(--primary-color);
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition-property: text-decoration;
}
.SignIn_Page_Forgot_Password_Button:hover {
  text-decoration: underline;
}
.SignIn_Page_Right_Half_container {
  width: 50%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.SignIn_Page_Right_Half {
  /* border: 1px solid red; */
  width: 70%;
  height: 70%;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SignIn_RightSide_Issustration_container {
  width: 55%;
}
.SignIn_RightSide_Issustration {
  width: 100%;
}
.SignIn_Page_Right_Half button {
  display: flex;
  width: 70%;
  height: 11%;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;
  background-color: #cc4fb133;
  box-shadow: 0px 0px 5px #7e2a6cb0;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignIn_Page_Right_Half button:hover {
  background-color: rgba(218, 98, 192, 0.199);
}
.SignIn_page_Google_Button {
  margin-top: 7%;
}
.SignIn_page_Google_Button_Paragraph {
  margin-left: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  word-spacing: 1px;
}
.SignIn_page_Google_Button_Logo {
  width: 10%;
  margin-left: 10%;
}
.SignIn_page_Facebook_Button {
  margin-top: 4%;
}
.SignIn_page_Facebook_Button_Paragraph {
  margin-left: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  word-spacing: 1px;
}
.SignIn_page_Facebook_Button_Logo {
  width: 10%;
  margin-left: 10%;
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 28px;
  }
}

/* Styling SignUp page------------------------------------------- */
.SignUp_Page_Container {
  background-color: var(--Page-Background-Color);
  width: 100%;
  height: 100vh;
  display: flex;
}
.SignUp_Page_Left_Half {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.SignUp_Page_Title_Container {
  width: 100%;
  margin-left: 20%;
}
.SignUp_Page_Logo {
  font-size: 2rem;
  letter-spacing: 4px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}
.SignUp_Page_Logo::first-letter {
  font-size: 3rem;
  font-family: "Aladin", cursive;
  font-weight: 100;
}
.SignUp_Page_Sign_Up_Logo {
  margin-left: 65px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Ramaraja", serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}
.SignUp_Page_Illustration {
  width: 70%;
  position: relative;
  bottom: 5%;
}
.SignUp_Page_Rignt_Half {
  width: 50%;
}
.SignUp_Page_SignUp_Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.SignUp_Page_SignUp_Container {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  background-color: white;
  margin: 7% 13% 10% 13%;
  height: 85%;
}
.SignUp_Page_Input_Field_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.SignUp_Page_Input_Field_Container input {
  width: 70%;
  height: 2.5rem;
  margin-top: 5%;
  font-family: "Raleway", sans-serif;
  border-radius: 7px;
  font-weight: 600;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}
.SignUp_Page_SignUp_Form input:read-write {
  padding-left: 20px;
  font-size: 0.9rem;
  color: rgb(83, 83, 83);
}
.SignUp_Page_Input_Field_Container input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}

.SignUp_Page_Birthday_Selection_Container {
  /* border: 1px solid red; */
  width: 75%;
  margin-top: 3%;
}
.SignUp_Page_Birthday_Selection_Container p,
.SignUp_Page_Gender_Checkbox_Container p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.SignUp_Page_Birthday_Selection_Date_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignUp_Page_Birthday_Selection_Date_Container select {
  width: 30%;
  height: 2rem;
  border-radius: 7px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
.SignUp_Page_Birthday_Selection_Date_Container select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(211, 211, 211);
}
.SignUp_Page_Birthday_Selection_Date_Container select:read-only {
  padding-left: 10px;
  color: rgb(107, 106, 106);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}
.SignUp_Page_Gender_Checkbox_Container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 2%;
}
.SignUp_Page_Gender_Checkbox_select_Container {
  display: flex;
  justify-content: space-between;
}
.SignUp_Page_Gender_Checkbox_select_Container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  width: 30%;
  height: 2rem;
  border-radius: 7px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignUp_Page_Gender_Checkbox_select_Container div:hover,
.SignUp_Page_Birthday_Selection_Date_Container select:hover {
  background-color: rgba(240, 240, 240, 0.548);
}
.SignUp_Page_Gender_Checkbox_select_Container div input {
  width: 20%;
  height: 40%;
  cursor: pointer;
}
.SignUp_Page_Submit_Container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.SignUp_Page_Submit_Container button {
  width: 47%;
  border-radius: 20px;
  height: 2rem;
  border-width: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.SignUp_Page_SignUp_Button {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition-duration: 100ms;
}
.SignUp_Page_SignUp_Button:hover {
  background-color: var(--primary-color-point-9);
}
.SignUp_Page_SignIn_Button {
  width: 47%;
  border-radius: 20px;
  height: 2rem;
  border-width: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9adb775;
  transition-duration: 100ms;
  text-decoration: none;
}
.SignUp_Page_SignIn_Button:hover {
  background-color: #c0b8bf75;
}
.SignUp_Page_SignIn_Button_Title {
  font-size: 1.2rem;
  color: rgb(71, 71, 71);
  letter-spacing: 1px;
  margin-right: 5%;
}
.SignUp_Page_SignIn_Button_Icon {
  color: rgb(71, 71, 71);
}

/* Designing MainPage SideBar---------------------------------------- */

.MainPage_SideBar_Container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  height: 100vh;
  /* justify-content: space-between; */
  background-color: white;
  box-shadow: 5px 0px 15px rgb(211, 211, 211);
}
.MainPage_SideBar_Logo_Search_Container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 14%;
  margin-left: 2%;
}
.MainPage_SideBar_Page_Logo {
  height: 3rem;
}
.MainPage_SideBar_Search_Outline {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  margin-left: 3%;
  height: 40%;
  border-color: rgb(122, 122, 122);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 1rem;
  padding-left: 10px;
}
.MainPage_SideBar_Search_Icon {
  color: rgb(92, 92, 92);
  width: 1.4rem;
}
.MainPage_SideBar_Search_Input_Field {
  /* border: 1px solid red; */
  width: 65%;
  border-width: 0px;
  height: 90%;
  color: rgb(92, 92, 92);
  margin-left: 1.5%;
}
.MainPage_SideBar_Search_Back_Icon {
  color: rgb(92, 92, 92);
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}
.MainPage_SideBar_Search_Input_Field:read-write {
  padding-left: 10px;
  color: rgb(92, 92, 92);
  font-family: var(--input-field-font-family);
  font-size: 0.9rem;
  font-weight: 600;
}
.MainPage_SideBar_Search_Input_Field:focus {
  outline: none;
}
.MainPage_SideBar_Menu_Container {
  /* border: 1px solid blue; */
  height: 37%;
}
.MainPage_SideBar_Menu_NavLink_Container {
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MainPage_SideBar_Menu_NavLink_Container a {
  display: flex;
  cursor: pointer;
  padding: 2% 0% 2% 0%;
  align-items: center;
  border-radius: 0px 1rem 1rem 0px;
  transition-duration: 100ms;
  text-decoration: none;
}
.MainPage_SideBar_Menu_NavLink_Container a:hover {
  background-color: var(--secondary-color-point-2);
}
/* .MainPage_SideBar_Menu_NavLink_Container a span {
  height: 1.5rem;
  cursor: pointer;
} */
.MainPage_SideBar_Menu_Home_Logo {
  margin-left: 2%;
  color: var(--logo-icon-low-opacity-black-color-point-3);
  height: 1.6rem;
  width: 1.6rem;
}
.MainPage_SideBar_Menu_NavLink_Container a h3 {
  margin-left: 5%;
  color: var(--lower-opacity-font-color);
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  letter-spacing: 0.5px;
}
.MainPage_SideBar_Menu_SelectBar_Colored {
  width: 12px;
  height: 120%;
  /* background-color: var(--primary-color-point-7); */
}
.MainPage_SideBar_Menu_Title {
  font-family: var(--primary-font-family);
  color: var(--lower-opacity-font-color);
  font-size: 0.9rem;
  margin-left: 5%;
  /* border: 1px solid black; */
  height: 8%;
}
.MainPage_SideBar_Friends_Container {
  /* border: 1px solid purple; */
  height: 35%;
  margin: 1% 4% 1% 4%;
  background-color: var(--secondary-color-point-2);
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 2% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid red; */
  height: 10%;
}
.MainPage_SideBar_Friends_Inner_Container {
  width: 100%;
  height: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition-duration: 100ms;
}

.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar {
  width: 7px;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MainPage_SideBar_Friends_Inner_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MainPage_SideBar_Friends_Inner_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.MainPage_SideBar_Friend_Outline {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.MainPage_SideBar_Friend_Image {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 7%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_Friend_Name {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
}
.MainPage_SideBar_Friend_Name:hover {
  text-decoration: underline;
}
.MainPage_SideBar_Friend_Active_Status {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50%;
  border-radius: 1rem;
  background-color: var(--primary-color-point-7);
}
.MainPage_SideBar_Friend_Active_Status p {
  font-family: var(--primary-font-family);
  font-size: 0.5rem;
  margin-left: 5%;
  letter-spacing: 0.5px;
  color: white;
}
.MainPage_SideBar_User_Account_LogOut_Container {
  height: 14%;
}
.MainPage_SideBar_Account_Title {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  margin: 1% 0% 1% 5%;
  color: var(--lower-opacity-font-color);
  /* border: 1px solid orangered; */
  height: 25%;
}
.MainPage_SideBar_User_Account_Logout_Outline {
  display: flex;
  /* border: 1px solid black; */
  height: 75%;
  align-items: center;
  justify-content: space-between;
}
.MainPage_SideBar_User_Account_Img {
  margin-left: 3%;
  height: 2.9rem;
  width: 2.9rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_SideBar_User_Account_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.MainPage_SideBar_User_Account_Name:hover {
  text-decoration: underline;
}
.MainPage_LogOut_Icon {
  margin-left: 4%;
  height: 1rem;
  cursor: pointer;
}
.MainPage_SideBar_User_Logout_Button {
  margin-right: 5%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
  border-width: 0px;
}
.MainPage_SideBar_User_Logout_Button:hover {
  text-decoration: underline;
}

.MainPage_SideBar_Horizontal_Line {
  width: 90%;
  margin-left: 5%;
  /* height: 0.5px; */
  background-color: rgb(197, 197, 197);
}

/* Designing Main Page User Stories ----------------------------- */
.MainPage_User_Stories_Container {
  width: 50%;
  height: 14%;
  position: fixed;
  left: 20%;
  background-color: white;
  box-shadow: 12px 5px 15px rgb(211, 211, 211);
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.Current_User_Story_Container,
.Friends_Story_Container {
  /* border: 1px solid blue; */
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Current_User_Story_Picure_Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Current_User_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1.5px;
  width: 2.7rem;
  border-radius: 50%;
  filter: brightness(0.89);
  cursor: pointer;
  transition-duration: 50ms;
  z-index: 1;
}
.Current_User_Story_Picture:hover {
  transform: scale(1.05);
}
.Current_User_Story_Add_Icon {
  position: absolute;
  filter: brightness(0.97);
  cursor: pointer;
  z-index: 2;
}
.Current_User_Story_Add_Icon:hover + .Current_User_Story_Picture {
  transform: scale(1.05);
}
.Friend_Story_Name {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.Current_User_Story_Name:hover,
.Friend_Story_Name:hover {
  text-decoration: underline;
}
.Friend_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(230, 94, 207, 0.425);
  padding: 1.5px;
  cursor: pointer;
  transition-duration: 150ms;
}
.Friend_Story_Picture:hover {
  transform: scale(1.03);
}

/* Designing Main Page Message and Notification Bar----------------- */
.MainPage_Message_and_Notification_Bar_Container {
  width: 30%;
  /* border: 1px solid red; */
  height: 14%;
  position: fixed;
  left: 70%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.MainPage_Message_and_Notification_Bar_Container div {
  border-radius: 50%;
  display: flex;
  border: 2px solid rgb(145, 145, 145);
  cursor: pointer;
  transition-duration: 100ms;
  box-shadow: 0px 0px 10px rgba(163, 162, 162, 0.486);
}
.MainPage_Message_and_Notification_Bar_Container div:hover {
  background-color: rgba(214, 214, 214, 0.836);
}
.MainPage_Message_Bar_Message_Outline {
  padding: 1.2%;
}
.MainPage_Message_Bar_Notification_Outline {
  padding: 1.2% 1.5% 1.2% 1.5%;
}

.MainPage_Message_Bar_Message_Outline img {
  height: 1.9rem;
}
.MainPage_Message_Bar_Notification_Outline img {
  height: 1.9rem;
}
.MainPage_Message_Bar_More_Outline {
  padding: 4% 3% 3% 3%;
}
.MainPage_Message_Bar_More_Outline img {
  height: 1rem;
}

.MainPage_Message_Bar_Profile {
  height: 2.6rem;
  width: 2.6rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

/* Designing Main Page rignt side component ---------------------------------*/
/* Suggestion User Design and Followed By */
.MainPage_Rignt_Side_Component_Container {
  width: 28.5%;
  height: 96%;
  /* border: 1px solid red; */
  position: fixed;
  top: 14%;
  left: 70.5%;
}
/* @keyframes Convert_MainPage_UserSuggession_Container_To_MaxView {
  from {
    height: 14%;
  }
  to {
    height: 40%;
  }
} */
.MainPage_UserSuggession_Container {
  background-color: white;
  border-radius: 10px;
  height: 40%;
  transition-duration: 500ms;
}
/* @keyframes Convert_MainPage_UserSuggession_Container_To_MinView {
  from {
    height: 40%;
  }
  to {
    height: 14%;
  }
} */
.MainPage_UserSuggession_Container_MinView {
  background-color: white;
  border-radius: 10px;
  height: 11%;
  padding-bottom: 5.5%;
}
.MainPage_UserSuggession_Title,
.MainPage_FollowedBy_Title,
.MainPage_SponsoredBy_Title {
  /* border: 1px solid red; */
  margin: 0% 0% 0% 5%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 1.5%;
}
.MainPage_UserSuggession_Inner_Container,
.MainPage_FollowedBy_Inner_Container {
  height: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.MainPage_Suggested_User_Container,
.MainPage_Followed_User_Container {
  /* border: 1px solid black; */
  display: flex;
  width: 95%;
  align-items: center;
  border-radius: 0.6rem;
  background-color: var(--secondary-color-point-4);
  padding: 2px 0px 2px 0px;
  margin: 2.5% 0% 2.5% 0%;
}
.MainPage_Suggested_User_Image,
.MainPage_Followed_User_Image {
  margin-left: 3%;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.MainPage_Suggested_User_Name_Container,
.MainPage_Followed_User_Name_Container {
  margin-left: 2%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.MainPage_Suggested_User_Name,
.MainPage_Followed_User_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--medium-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Suggested_User_Follower_Name,
.MainPage_Followed_User_Follower_Name {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Suggested_User_Follow_Button,
.MainPage_Followed_User_Follow_Button {
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-left: 2%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition-duration: 50ms;
}
.MainPage_Suggested_User_Follow_Button:hover,
.MainPage_Followed_User_Follow_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}
.MainPage_Suggested_User_Follow_Button_Text,
.MainPage_Followed_User_Follow_Button_Text {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 600;
  color: white;
}
.MainPage_FollowedBy_Container {
  margin-top: 2%;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  height: 28%;
}
/* @keyframes Convert_MainPage_FollowedBy_Container_To_MinView {
  from {
    height: 28%;
  }
  to {
    height: 13%;
  }
} */
.MainPage_FollowedBy_Container_MinView {
  margin-top: 2%;
  background-color: white;
  border-radius: 10px;
  height: 10%;
  padding-bottom: 6%;
}
.MainPage_Followed_User_Container {
  background-color: rgba(218, 218, 218, 0.5);
}
/* Designing Sponsored By  */
.MainPage_SponsoredBy_Container {
  margin-top: 2%;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  height: 18%;
}
.MainPage_SponsoredBy_Title {
  /* border: 1px solid red; */
  padding-top: 1%;
  height: 15%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.MainPage_SponsoredBy_Inner_Container {
  /* border: 1px solid red; */
  display: flex;
  height: 80%;
  align-items: center;
}
.MainPage_Sponsored_Image {
  margin-left: 5%;
  width: 3rem;
  border-radius: 10px;
  cursor: pointer;
}
.MainPage_Sponsored_Name_Container {
  /* border: 1px solid blue; */
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}
.MainPage_Sponsored_Name {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--medium-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Sponsored_Info {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}
.MainPage_Sponsored_genre {
  font-family: var(--primary-font-family);
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
  width: fit-content;
}

/*Designing Home Page ---------------------------------  */
/* Designing User Post filed */
.HomePage_Container {
  width: 50%;
  /* border: 1px solid red; */
  position: relative;
  left: 20%;
  top: 14vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.HomePage_User_Post_Field_Container {
  width: var(--home-page-content-width);
  min-height: 3rem;
  /* border: 1px solid red; */
  margin-top: 1.2rem;
  background-color: var(--secondary-color-point-7);
  border-radius: 10px;
}
.HomePage_MinView_UserPost_Field_Container {
  width: 100%;
  height: 3rem;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.HomePage_MinField_UserPost_Field_Image {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 50%;
}
.HomePage_MinView_UserPost_Input_Field {
  width: 75%;
  height: 2rem;
  border-radius: 0.7rem;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
}
.HomePage_MinView_UserPost_Input_Field:read-write {
  font-family: var(--input-field-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 5%;
  color: rgb(68, 68, 68);
  padding-right: 2%;
}
.HomePage_MinView_UserPost_Input_Field:focus {
  outline: none;
}
/* HomePage MaxView UserPost Field --------------------------------------------------------*/
.HomePage_MaxView_UserPost_Field_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
.HomePage_MaxView_UserPost_Field_Upper_Part_Container {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HomePage_MaxField_UserPost_Field_Image_Container {
  /* border: 1px solid blue; */
  height: 6rem;
  margin-left: 1%;
  margin-bottom: 0.3rem;
}
.HomePage_MaxField_UserPost_Field_Image {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.HomePage_MaxView_UserPost_Input_Field {
  width: 70%;
  height: 5rem;
  border-radius: 0.5rem;
  border-width: 0px;
  background-color: var(--secondary-color-point-1-transparent-0);
}
.HomePage_MaxView_UserPost_Input_Field:read-write {
  font-family: var(--input-field-font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2% 3% 2% 3%;
  color: rgb(68, 68, 68);
  resize: none;
}
.HomePage_MaxView_UserPost_Input_Field:focus {
  outline: none;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar {
  width: 7px;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-track {
  background-color: transparent;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.HomePage_MaxView_UserPost_Input_Field:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.HomePage_MaxView_UserPost_Input_Field::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

.HomePage_MaxView_UserPost_Field_Icons_Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  width: 10%;
  position: relative;
}

.HomePage_MaxView_UserPost_Field_Icon {
  color: var(--primary-color-darker-5);
  cursor: pointer;
}
.HomePage_MaxView_UserPost_Field_Icon:hover {
  color: var(--primary-color-lighter-1);
}
.HomePage_MaxView_UserPost_Field_Back_and_Post_Button_Container {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-bottom: 0.5rem;
}
.HomePage_MaxView_UserPost_Field_Back_Icon {
  margin-left: 3.5%;
  color: var(--primary-color-darker-5);
  cursor: pointer;
}
.HomePage_MaxView_UserPost_Field_Back_Icon:hover {
  color: var(--primary-color-lighter-1);
}
.HomePage_MaxView_UserPost_Field_Post_Button {
  width: 76%;
  height: 1.4rem;
  margin-left: 1%;
  border-radius: 0.4rem;
  border-width: 0px;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--primary-color-darker-5);
  color: white;
  cursor: pointer;
  transition-duration: 150ms;
}
.HomePage_MaxView_UserPost_Field_Post_Button:hover {
  background-color: var(--primary-color-lighter-1);
}
.MaxView_UserPost_Image_Container {
  width: 75%;
  /* border: 1px solid red; */
  max-height: 17rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.MaxView_UserPost_Image {
  width: 100%;
  object-fit: cover;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar {
  width: 7px;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MaxView_UserPost_Image_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MaxView_UserPost_Image_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}

/* Designing HomePage Feed -------------------------------------------------*/
.HomePage_Feed_Main_Container {
  width: var(--home-page-content-width);
  height: auto;
}
.HomePage_Feed_Content_Container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color-point-2);
  border-radius: 5px;
}
.HomePage_Feed_Image_Container {
  width: 97%;
  margin-top: 0.3rem;
}
.HomePage_Feed_Image_Container img {
  width: 100%;
}
.HomePage_Feed_Info_Container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HomePage_Feed_Info_User_Image img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  /* border: 1px solid red; */
  margin-left: 5%;
}
.HomePage_Feed_User_Caption_Container {
  width: 95%;
  /* border: 1px solid red; */
  margin: 10px 0px 10px 0px;
  word-wrap: break-word;
}
.HomePage_Feed_User_Caption_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
}
.HomePage_Feed_User_Name_And_ID_Info_Container {
  width: 45%;
  /* border: 1px solid blue; */
  margin-left: 1%;
  display: flex;
}
.HomePage_Feed_User_Name_Info_Container {
  width: 70%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.HomePage_Feed_User_ID_Text {
  /* border: 1px solid green; */
  max-width: 95%;
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.89rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.HomePage_Feed_User_ID_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_User_Time_Text {
  /* border: 1px solid red; */
  width: 30%;
  height: 2rem;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  word-wrap: break-word;
}

.HomePage_Feed_User_Name_Text {
  /* border: 1px solid black; */
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  cursor: pointer;
}
.HomePage_Feed_User_Name_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_Love_Comment_Share_Info_Container {
  /* border: 1px solid purple; */
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomePage_Feed_Love_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
}
.HomePage_Feed_Love_Icon:hover {
  fill: var(--primary-color);
}
.HomePage_Feed__Comment_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
}
.HomePage_Feed_Share_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
}
.HomePage_Feed_More_Info_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
}

/* 
@ Designing MainPage MessageBox
*/
.MainPage_MessageBox_Container {
  /* border: 1px solid red; */
  height: 59%;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
}
.MainPage_Scrollable_MessageBox_Container {
  height: 94%;
  overflow-y: auto;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
  /* border: 1px solid red; */
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar {
  width: 7px;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.MainPage_Scrollable_MessageBox_Container:hover::-webkit-scrollbar-thumb {
  background-color: #522572;
}
.MainPage_Scrollable_MessageBox_Container::-webkit-scrollbar-thumb:hover {
  background-color: #6b4a81;
}
.MainPage_MessageBox_Title_Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  height: 7%;
}
.MainPage_MessageBox_Title_Container h4 {
  margin-left: 5%;
  font-family: var(--primary-font-family);
  letter-spacing: 1px;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}
.MainPage_MessageBox_Title_More_Icon {
  margin-right: 2%;
  color: var(--logo-icon-low-opacity-black-color);
}
.MainPage_MessageBox_Title_Search_Divider {
  /* margin: 0.4% 0% 0.4% 0%; */
  margin: 1%;
}
.MainPage_MessageBox_Search_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(65, 65, 65);
  border-radius: 1rem;
  margin: 0% 3% 0% 3%;
  height: 8%;
}
.MainPage_MessageBox_Search_Input_Field {
  border-width: 0px;
  width: 20%;
  margin-left: 2%;
}
.MainPage_MessageBox_Search_Input_Field::placeholder {
  color: var(--medium-opacity-font-color);
}
.MainPage_MessageBox_Search_Input_Field:read-write {
  outline: none;
  color: var(--medium-opacity-font-color);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 0.8rem;
}
.MainPage_MessageBox_Search_Icon {
  color: var(--logo-icon-low-opacity-black-color);
}
.MainPage_MessageBox_Message_Container {
  /* border: 1px solid blue; */
  height: max-content;
  max-height: 79.5%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 1%;
}
.MaiPage_MessageBox_UserMessage_Container {
  /* border: 1px solid black; */
  display: flex;
  margin: 0.5% 2% 1% 2%;
  border-radius: 0.5rem;
  height: 18.5%;
  align-items: center;
  justify-content: start;
  background-color: #9066b150;
  cursor: pointer;
  padding: 0.5% 0%;
  transition-duration: 100ms;
}
.MaiPage_MessageBox_UserMessage_Container:hover {
  background-color: #a183b950;
}
.MainPage_MessageBox_UserMessage_Picutre {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5%;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container h4 {
  font-family: var(--primary-font-family);
  font-size: 0.85rem;
  font-weight: 600;
}
.MainPage_MessageBox_UserMessage_Name_Message_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 500;
}
.MainPage_MessageBox_See_More_Message_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage_MessageBox_See_More_Message_Container a {
  font-size: 0.7rem;
  text-decoration: none;
  font-family: var(--primary-font-family);
}
.MainPage_MessageBox_See_More_Message_Container a:hover {
  text-decoration: underline;
}

/* Styling Emoji Mart package------------------------------------- */
.emoji-mart,
.emoji-mart-light {
  border-radius: 15px;
  border-width: 0px;
  background-color: var(--emoji-picker-background-color);
  position: absolute;
  left: 116%;
  top: -11px;
}
.emoji-mart-preview {
  position: absolute;
  visibility: hidden;
}
.emoji-mart-scroll {
  height: 200px;
}
.emoji-mart-category-label span {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  background-color: var(--emoji-picker-background-color);
  color: white;
}
.emoji-mart-anchor-icon svg {
  color: var(--secondary-color-point-1-transparent-0);
}
.emoji-mart-no-results-label {
  font-size: 18px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: white;
}
#emoji-mart-search-1 {
  background-color: var(--secondary-color-point-1-transparent-0);
  border-width: 0px;
}
#emoji-mart-search-1:read-write {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
}
.emoji-mart-search-icon {
  visibility: hidden;
}
.emoji-mart-scroll::-webkit-scrollbar {
  width: 10px;
}
.emoji-mart-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.emoji-mart-scroll::-webkit-scrollbar-thumb {
  /* background-color: transparent; */
  border-radius: 10px;
}
.emoji-mart-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-point-1-transparent-0);
}

/* Loading spinner design */
.HomePage_Post_Field_Response_Loading_Spinner_Container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 12, 20, 0.219);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePage_Post_Field_Response_Loading_Spinner {
  border: 13px solid #dddddd; /* Light grey */
  border-top: 13px solid var(--primary-color-darker-5); /* Blue */
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  animation: loadingSpinner 1s linear infinite;
}
@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Designing Profile Page------------------------------------ */
.ProfilePage_Container {
  width: 50%;
  /* border: 1px solid red; */
  position: relative;
  left: 20%;
  top: 14vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfilePage_UserInfo_Container {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  height: 8rem;
  align-items: center;
  padding-top: 1%;
  background-color: #ccbec93a;
}
.ProfilePage_UserInfo_Picture_Container {
  /* border: 1px solid black; */
  padding: 0% 2.5% 0% 2.5%;
}
.ProfilePage_UserInfo_Picture_Container img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.ProfilePage_UserInfo_Detail_Container {
  /* border: 1px solid purple; */
  width: 48%;
  height: 100%;
}
.ProfilePage_UserInfo_UserName_Msg_Container {
  display: flex;
  /* border: 1px solid chocolate; */
  height: 35%;
}
.ProfilePage_UserInfo_UserName_Container {
  /* border: 1px solid black; */
}
.ProfilePage_UserInfo_UserName_Container h1 {
  font-family: var(--primary-font-family);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
}

.ProfilePage_UserInfo_UserName_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
}
.ProfilePage_UserInfo_UserName_Container h1:hover,
.ProfilePage_UserInfo_UserName_Container p:hover {
  text-decoration: underline;
}
.ProfilePage_UserInfo_Message_Icon_Container {
  margin-left: 2%;
  border: 1px solid black;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ProfilePage_UserInfo_Message_Icon_Container img {
  height: 1.3rem;
  width: 1.3rem;
}
.ProfilePage_UserInfo_User_follow_Detail_Container {
  /* border: 1px solid green; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.ProfilePage_UserInfo_User_follow_Detail_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--lower-opacity-font-color);
  cursor: pointer;
}
.ProfilePage_UserInfo_User_follow_Detail_Container p:hover {
  text-decoration: underline;
}

.ProfilePage_UserInfo_Follow_and_More_Button_Container {
  /* border: 1px solid palevioletred; */
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ProfilePage_UserInfo_More_Icon_Container {
  /* border: 1px solid brown; */
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.ProfilePage_UserInfo_FollowUser_Button {
  width: 90%;
  height: 20%;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  margin-bottom: 7%;
  transition-duration: 50ms;
}
.ProfilePage_UserInfo_FollowUser_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}
.ProfilePage_UserContent_Route_Container {
  padding-top: 1%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ProfilePage_UserContent_Feed_Icon {
  color: var(--primary-color-point-7);
  width: 1.7rem;
  height: 1.7rem;
}
.ProfilePage_UserContent_Feed_Route_Container {
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: var(--primary-color-point-7);
  z-index: 2;
}
.ProfilePage_UserContent_Picture_Icon {
  color: var(--logo-icon-low-opacity-black-color-point-3);
  width: 1.7rem;
  height: 1.7rem;
}
.ProfilePage_UserContent_Picture_Route_Container {
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: transparent;
  z-index: 2;
}
.ProfilePage_UserContent_Friends_Icon {
  color: var(--logo-icon-low-opacity-black-color-point-3);
  width: 1.7rem;
  height: 1.7rem;
}
.ProfilePage_UserContent_Friends_Route_Container {
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: transparent;
  z-index: 2;
}
.ProfilePage_UserContent_Feed_Route_Container,
.ProfilePage_UserContent_Picture_Route_Container,
.ProfilePage_UserContent_Friends_Route_Container {
  cursor: pointer;
}
.ProfilePage_UserContent_Divider_Line {
  width: 80%;
  border-width: 1px;
  border-style: solid;
  border-color: #d4c9d28c;
  position: relative;
  bottom: 4px;
}
.ProfilePage_UserContent_Container {
  /* border: 1px solid red; */
  margin-top: -2%;
  width: 80%;
}

/* Designing MainPage Search Bar */
@keyframes searchBar_animation {
  0% {
    min-height: 0%;
  }
  100% {
    min-height: 10%;
  }
}
.MainPage_SearchBar_Container {
  /* border: 1px solid red; */
  position: absolute;
  width: 90%;
  min-height: 5rem;
  /* transform: translate(10%, 15%); */
  top: 10%;
  left: 5%;
  border-radius: 10px;
  background-color: #8f59bbe7;
  /* animation-name: searchBar_animation;
  animation-duration: 0.3s; */
  /* overflow: hidden; */
}
.MainPage_SearchBar_Container h3 {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  color: white;
  margin: 2% 0% 2% 6%;
}
.MainPage_SearchBar_Container hr {
  margin: 0% 5% 0% 5%;
  border-color: rgb(230, 205, 233);
}
.MainPage_SearchBar_All_User_Container {
  width: 90%;
  min-height: 3rem;
  /* background-color: white; */
  margin-top: 2%;
  margin-left: 5%;
}
.MainPage_SearchBar_No_Result_Container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage_SearchBar_No_Result_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}
.MainPage_SearchBar_User_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  cursor: pointer;
}
.MainPage_SearchBar_User_Container:hover {
  background-color: #b180dae7;
}
.MainPage_SearchBar_User_Container img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 2%;
}
.MainPage_SearchBar_User_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.85rem;
  margin-left: 5%;
  /* border: 1px solid red; */
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Desing GetUserID Page ---------------------------------------*/
.GetUserIDPage_Container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 12, 20, 0.219);
}
.GetUserIDPage_Form_Container {
  width: 30%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
.GetUserIDPage_Form_Title {
  font-family: var(--primary-font-family);
  font-size: 1.8rem;
  color: var(--lower-opacity-font-color);
  margin-top: 5%;
}
.GetUserIDPage_Form_Explained_Paragraph {
  /* border: 1px solid red; */
  width: 80%;
  font-size: 0.8rem;
  font-family: var(--primary-font-family);
  text-align: center;
  margin: 1%;
}
.GetUserIDPage_Name_Form_Field {
  margin: 5%;
  width: 80%;
  height: 2rem;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(134, 133, 133);
}
.GetUserIDPage_Name_Form_Field:focus {
  outline: none;
}
.GetUserIDPage_Name_Form_Field:read-write {
  padding-left: 4%;
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--lower-opacity-font-color);
}
.GetUserIDPage_Form_Udate_Profile_Text {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  color: var(--medium-opacity-font-color);
}
.GetUserIDPage_Form_Update_Profile_Label {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
.GetUserIDPage_Form_Profile {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  transition-duration: 200ms;
}
.GetUserIDPage_Form_Profile:hover {
  transform: scale(1.05);
}
.GetUserIDPage_Form_Submit_Button {
  border-width: 0px;
  padding: 2.5% 10% 2.5% 10%;
  background-color: var(--primary-color);
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  transition-duration: 100ms;
}
.GetUserIDPage_Form_Submit_Button:hover {
  background-color: var(--primary-color-button-hover-color);
}
