@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 28px;
  }
}

@media screen and (max-width: 1900px) and (min-width: 1700px) {
  * {
    font-size: 27px;
  }
}
@media screen and (max-width: 1700px) and (min-width: 1500px) {
  * {
    font-size: 25px;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1300px) {
  * {
    font-size: 24px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  * {
    font-size: 23px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 900px) {
  * {
    font-size: 22px;
  }
}
@media screen and (max-width: 900px) and (min-width: 700px) {
  * {
    font-size: 21px;
  }
}
