/* Designing Main Page User Stories ----------------------------- */
.MainPage_User_Stories_Container {
  width: 50%;
  height: 5rem;
  position: fixed;
  left: 20%;
  background-color: white;
  box-shadow: 12px 5px 15px rgb(211, 211, 211);
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  /* border: 1px solid blue; */
}

.Current_User_Story_Container,
.Friends_Story_Container {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Current_User_Story_Picure_Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Current_User_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1.5px;
  border-radius: 50%;
  filter: brightness(0.8);
  cursor: pointer;
  transition-duration: 50ms;
  z-index: 1;
}
.Current_User_Story_Picture:hover {
  transform: scale(1.05);
}
.Current_User_Story_Add_Icon {
  position: absolute;
  filter: brightness(0.97);
  cursor: pointer;
  z-index: 2;
}
.Current_User_Story_Add_Icon:hover + .Current_User_Story_Picture {
  transform: scale(1.05);
}
.Friend_Story_Name,
.Current_User_Story_Name {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(78, 78, 78);
  cursor: pointer;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Current_User_Story_Name:hover,
.Friend_Story_Name:hover {
  text-decoration: underline;
}
.Friend_Story_Picture {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(230, 94, 207, 0.425);
  padding: 1.5px;
  cursor: pointer;
  transition-duration: 150ms;
}
.Friend_Story_Picture:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1900px) and (min-width: 1300px) and (min-height: 1000px) {
}
@media screen and (max-width: 1500px) and (min-width: 1300px) {
}
/* @media screen and (max-width: 1360px) and (min-width: 1200px) {
  .MainPage_User_Stories_Container {
    width: 50%;
    height: 5rem;
    left: 20%;
    background-color: red;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 12%;
  }
} */
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .MainPage_User_Stories_Container {
    width: 55%;
    height: 5rem;
    left: 15%;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 12%;
  }
}
@media screen and (max-width: 1024px) {
  .MainPage_User_Stories_Container {
    width: 60%;
    height: 5rem;
    left: 100px;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 12%;
  }
}
@media screen and (max-width: 850px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 90px);
    height: 4.8rem;
    left: 90px;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 12%;
  }
  .Current_User_Story_Picure_Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Current_User_Story_Picture {
    width: 2.5rem;
    height: 2.5rem;
  }
  .Friend_Story_Picture {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 60px);
    height: 4.8rem;
    left: 60px;
  }
  .Current_User_Story_Picture {
    width: 2.5rem;
    height: 2.5rem;
  }
  .Friend_Story_Picture {
    width: 2.5rem;
    height: 2.5rem;
  }
}
/* @media screen and (max-width: 700px) and (max-height: 800px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 60px);
    left: 60px;
  }
} */
@media screen and (max-width: 480px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 45px);
    left: 45px;
    height: 4rem;
  }
  .Current_User_Story_Picture {
    width: 2.1rem;
    height: 2.1rem;
  }
  .Friend_Story_Picture {
    width: 2.1rem;
    height: 2.1rem;
  }
  .Friend_Story_Name,
  .Current_User_Story_Name {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 40px);
    left: 40px;
    height: 3.5rem;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 16%;
  }
  .Current_User_Story_Picture {
    width: 1.7rem;
    height: 1.7rem;
  }
  .Friend_Story_Picture {
    width: 1.7rem;
    height: 1.7rem;
  }
  .Friend_Story_Name,
  .Current_User_Story_Name {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 280px) {
  .MainPage_User_Stories_Container {
    width: calc(100% - 40px);
    left: 40px;
    height: 3.2rem;
  }
  .Current_User_Story_Container,
  .Friends_Story_Container {
    width: 16%;
  }
  .Current_User_Story_Picture {
    width: 1.5rem;
    height: 1.5rem;
  }
  .Friend_Story_Picture {
    width: 1.5rem;
    height: 1.5rem;
  }
  .Friend_Story_Name,
  .Current_User_Story_Name {
    font-size: 0.4rem;
  }
}
