/* Designing HomePage Feed -------------------------------------------------*/
.HomePage_Feed_Main_Container {
  width: var(--home-page-content-width);
  height: auto;
}
.HomePage_Feed_Content_Container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color-point-2);
  border-radius: 5px;
}
.HomePage_Feed_Image_Container {
  width: 97%;
  margin-top: 0.3rem;
}
.HomePage_Feed_Image_Container img {
  width: 100%;
}
.HomePage_Feed_Info_Container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HomePage_Feed_Info_User_Image img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  /* border: 1px solid red; */
  margin-left: 5%;
}
.HomePage_Feed_User_Caption_Container {
  width: 95%;
  /* border: 1px solid red; */
  margin: 10px 0px 10px 0px;
  word-wrap: break-word;
}
.HomePage_Feed_User_Caption_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
}
.HomePage_Feed_User_Name_And_ID_Info_Container {
  width: 45%;
  /* border: 1px solid blue; */
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
}
.HomePage_Feed_User_Name_Info_Container {
  width: 70%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
}
.HomePage_Feed_User_ID_Text {
  /* border: 1px solid green; */
  max-width: 95%;
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.89rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.HomePage_Feed_User_ID_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_User_Time_Text {
  /* border: 1px solid red; */
  width: 30%;
  /* height: 2rem; */
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  word-wrap: break-word;
}

.HomePage_Feed_User_Name_Text {
  /* border: 1px solid black; */
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  cursor: pointer;
  text-overflow: ellipsis;
}
.HomePage_Feed_User_Name_Text:hover {
  text-decoration: underline;
}
.HomePage_Feed_Love_Comment_Share_Info_Container {
  /* border: 1px solid purple; */
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}
.HomePage_Feed_Icon_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* border: 1px solid red; */
}
.HomePage_Feed_Icon_Container p {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}

.HomePage_Feed_UnLiked_Love_Icon,
.HomePage_Feed_Liked_Love_Icon,
.HomePage_Feed__Comment_Icon,
.HomePage_Feed_Share_Icon,
.HomePage_Feed_More_Info_Icon {
  color: var(--logo-icon-low-opacity-black-color);
  cursor: pointer;
  margin-right: 3px;
  transition-duration: 100ms;
  width: 1.2rem;
  height: 1.2rem;
}
.HomePage_Feed_Liked_Love_Icon {
  color: var(--primary-color);
}
.HomePage_Feed_Liked_Love_Icon:hover {
  filter: opacity(0.8);
}
.HomePage_Feed_More_Info_Icon {
  transform: rotate(90deg);
}
.HomePage_Feed_UnLiked_Love_Icon:hover,
.HomePage_Feed__Comment_Icon:hover,
.HomePage_Feed_Share_Icon:hover,
.HomePage_Feed_More_Info_Icon:hover {
  color: var(--primary-color);
}

/* Post feed Comment Box */
.UserPostFeed_Comment_Box {
  width: 95%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0.2rem;
}

.UserPostFeed_CommentBox_RootUser_Post_Field_Container {
  width: 100%;
  height: 1.8rem;
  background-color: var(--secondary-color-point-7);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.UserPostFeed_CommentBox_Image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.UserPostFeed_CommentBox_Form {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color-point-1-transparent-0);
}

.UserPostFeed_CommentBox_Input_Field {
  width: 100%;
  height: 100%;
  border-width: 0px;
  background-color: transparent;
  font-family: var(--primary-font-family);
}

.UserPostFeed_CommentBox_Input_Field:read-write {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.85rem;
}

.UserPostFeed_CommentBox_Input_Field:focus {
  outline: none;
}

.UserPostFeed_CommentBox_Input_Emoji {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  color: rgb(49, 49, 49);
}

.UserPostFeed_CommentBox_CommentList {
  max-height: 5rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.UserPostFeed_CommentBox_UserComment {
  width: 100%;
  display: flex;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  box-sizing: border-box;
  align-items: flex-start;
}

.UserPostFeed_CommentBox_UserComment img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.UserPostFeed_CommentBox_UserComment div {
  /* border: 1px solid red; */
  padding: 0.3rem;
  background-color: #f8f1fa;
  border-radius: 0.3rem;
  overflow: hidden;
}

.UserPostFeed_CommentBox_UserComment div h3 {
  /* border: 1px solid blue; */
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.UserPostFeed_CommentBox_UserComment div h3:hover {
  text-decoration: underline;
}

.UserPostFeed_CommentBox_UserComment div p {
  font-family: var(--primary-font-family);
  font-size: 0.7rem;
  /* border: 1px solid blue; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
}

@media screen and (max-width: 768px) {
  .HomePage_Feed_Main_Container {
    width: 90%;
  }
  .HomePage_Feed_Info_User_Image img {
    width: 2rem;
    height: 2rem;
    margin-left: 5px;
  }
  .HomePage_Feed_User_Caption_Container p {
    font-size: 0.8rem;
  }
  .HomePage_Feed_User_ID_Text {
    font-size: 0.78rem;
  }
  .HomePage_Feed_User_Time_Text {
    font-size: 0.78rem;
  }
  .HomePage_Feed_User_Name_Text {
    font-size: 0.7rem;
  }
  .HomePage_Feed_Icon_Container p {
    font-size: 0.7rem;
  }
  .HomePage_Feed_UnLiked_Love_Icon,
  .HomePage_Feed_Liked_Love_Icon,
  .HomePage_Feed__Comment_Icon,
  .HomePage_Feed_Share_Icon,
  .HomePage_Feed_More_Info_Icon {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .HomePage_Feed_Main_Container {
    width: 90%;
  }
  .HomePage_Feed_Info_User_Image img {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 5px;
  }
  .HomePage_Feed_User_Caption_Container p {
    font-size: 0.8rem;
  }

  .HomePage_Feed_User_Name_And_ID_Info_Container {
    width: 45%;
    margin-left: 1%;
  }
  .HomePage_Feed_User_Name_Info_Container {
    width: 60%;
  }
  .HomePage_Feed_User_ID_Text {
    max-width: 95%;
    font-size: 0.89rem;
  }
  .HomePage_Feed_User_ID_Text {
    font-size: 0.7rem;
  }
  .HomePage_Feed_User_Time_Text {
    font-size: 0.7rem;
  }
  .HomePage_Feed_User_Name_Text {
    font-size: 0.65rem;
  }
  .HomePage_Feed_Icon_Container p {
    font-size: 0.7rem;
  }
  .HomePage_Feed_UnLiked_Love_Icon,
  .HomePage_Feed_Liked_Love_Icon,
  .HomePage_Feed__Comment_Icon,
  .HomePage_Feed_Share_Icon,
  .HomePage_Feed_More_Info_Icon {
    width: 0.9rem;
    height: 0.9rem;
  }

  .UserPostFeed_Comment_Box {
    width: 90%;
  }

  .UserPostFeed_CommentBox_RootUser_Post_Field_Container {
    height: 1.7rem;
    padding: 5px;
    border-radius: 8px;
  }

  .UserPostFeed_CommentBox_Image {
    width: 1.4rem;
    height: 1.4rem;
  }

  .UserPostFeed_CommentBox_Input_Field {
    width: 65%;
    border-radius: 5px;
  }

  .UserPostFeed_CommentBox_Input_Field:read-write {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.7rem;
  }

  .UserPostFeed_CommentBox_Input_Emoji {
    width: 1.1rem;
    height: 1.1rem;
  }

  .UserPostFeed_CommentBox_CommentList {
    max-height: 5rem;
    width: 100%;
    margin-bottom: 0.3rem;
  }

  .UserPostFeed_CommentBox_UserComment {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .UserPostFeed_CommentBox_UserComment img {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
    object-fit: cover;
  }

  .UserPostFeed_CommentBox_UserComment div {
    padding: 0.2rem;
    border-radius: 0.2rem;
  }

  .UserPostFeed_CommentBox_UserComment div h3 {
    font-size: 0.7rem;
    max-width: 8rem;
  }

  .UserPostFeed_CommentBox_UserComment div p {
    font-size: 0.65rem;
    max-width: 15rem;
  }
}

@media screen and (max-width: 320px) {
  .HomePage_Feed_Main_Container {
    width: 90%;
  }
  .HomePage_Feed_Info_User_Image img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
  }
  .HomePage_Feed_User_Caption_Container p {
    font-size: 0.7rem;
  }
  .HomePage_Feed_User_ID_Text {
    font-size: 0.6rem;
  }
  .HomePage_Feed_User_Time_Text {
    font-size: 0.6rem;
  }
  .HomePage_Feed_User_Name_Text {
    font-size: 0.5rem;
  }
  .HomePage_Feed_Icon_Container p {
    font-size: 0.5rem;
  }
  .HomePage_Feed_UnLiked_Love_Icon,
  .HomePage_Feed_Liked_Love_Icon,
  .HomePage_Feed__Comment_Icon,
  .HomePage_Feed_Share_Icon,
  .HomePage_Feed_More_Info_Icon {
    width: 0.9rem;
    height: 0.9rem;
  }
}

@media screen and (max-width: 280px) {
  .HomePage_Feed_Main_Container {
    width: 90%;
  }
  .HomePage_Feed_Info_User_Image img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
  }
  .HomePage_Feed_User_Caption_Container p {
    font-size: 0.7rem;
  }
  .HomePage_Feed_User_ID_Text {
    font-size: 0.6rem;
  }
  .HomePage_Feed_User_Time_Text {
    font-size: 0.6rem;
  }
  .HomePage_Feed_User_Name_Text {
    font-size: 0.5rem;
  }
  .HomePage_Feed_Icon_Container p {
    font-size: 0.5rem;
  }
  .HomePage_Feed_UnLiked_Love_Icon,
  .HomePage_Feed_Liked_Love_Icon,
  .HomePage_Feed__Comment_Icon,
  .HomePage_Feed_Share_Icon,
  .HomePage_Feed_More_Info_Icon {
    width: 0.9rem;
    height: 0.9rem;
  }
  .UserPostFeed_Comment_Box {
    width: 90%;
  }

  .UserPostFeed_CommentBox_RootUser_Post_Field_Container {
    height: 1.5rem;
    padding: 5px;
    border-radius: 8px;
  }

  .UserPostFeed_CommentBox_Image {
    width: 1.3rem;
    height: 1.3rem;
  }

  .UserPostFeed_CommentBox_Input_Field {
    width: 55%;
    border-radius: 3px;
  }

  .UserPostFeed_CommentBox_Input_Field:read-write {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.65rem;
  }

  .UserPostFeed_CommentBox_Input_Emoji {
    width: 1rem;
    height: 1rem;
  }

  .UserPostFeed_CommentBox_CommentList {
    max-height: 3rem;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .UserPostFeed_CommentBox_UserComment {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
  }

  .UserPostFeed_CommentBox_UserComment img {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.3rem;
  }

  .UserPostFeed_CommentBox_UserComment div {
    padding: 0.15rem;
    border-radius: 0.15rem;
  }

  .UserPostFeed_CommentBox_UserComment div h3 {
    font-size: 0.65rem;
    max-width: 6rem;
  }

  .UserPostFeed_CommentBox_UserComment div p {
    font-size: 0.6rem;
    max-width: 13rem;
  }
}
