.ProfilePage_Albums_Container {
  /* border: 1px solid red; */
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8.5rem);
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}
.ProfilePage_Albums_Image {
  width: 8.5rem;
  height: 8.5rem;
  cursor: pointer;
  transition-duration: 0.3s;
  object-fit: cover;
  border-radius: 10px;
}

.ProfilePage_Albums_Image:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 1800px) and (min-width: 1500px) {
  .ProfilePage_Albums_Container {
    grid-template-columns: repeat(auto-fill, 8rem);
    row-gap: 10px;
  }
  .ProfilePage_Albums_Image {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1366px) {
  .ProfilePage_Albums_Container {
    grid-template-columns: repeat(auto-fill, 7.5rem);
    row-gap: 10px;
  }
  .ProfilePage_Albums_Image {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .ProfilePage_Albums_Container {
    grid-template-columns: repeat(auto-fill, 7.5rem);
  }
  .ProfilePage_Albums_Image {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .ProfilePage_Albums_Container {
    /* border: 1px solid red; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 7rem);
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 8px;
  }
  .ProfilePage_Albums_Image {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    transition-duration: 0.3s;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .ProfilePage_Albums_Container {
    margin-top: 25px;
    grid-template-columns: repeat(auto-fill, 9rem);
    row-gap: 7px;
    margin-bottom: 8px;
    justify-content: center;
    column-gap: 10px;
  }
  .ProfilePage_Albums_Image {
    width: 9rem;
    height: 9rem;
    border-radius: 9px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .ProfilePage_Albums_Container {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, 9rem);
    row-gap: 7px;
    margin-bottom: 8px;
    justify-content: center;
    column-gap: 10px;
  }
  .ProfilePage_Albums_Image {
    width: 9rem;
    height: 9rem;
    border-radius: 9px;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .ProfilePage_Albums_Container {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, 6.5rem);
    row-gap: 5px;
    margin-bottom: 8px;
    justify-content: center;
    column-gap: 5px;
  }
  .ProfilePage_Albums_Image {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  .ProfilePage_Albums_Container {
    margin-top: 10px;
    grid-template-columns: repeat(auto-fill, 5rem);
    row-gap: 3px;
    margin-bottom: 8px;
    justify-content: center;
    column-gap: 3px;
  }
  .ProfilePage_Albums_Image {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 280px) {
  .ProfilePage_Albums_Container {
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ProfilePage_Albums_Image {
    width: 100%;
    height: 8rem;
    border-radius: 5px;
  }
}
