@keyframes blinking_RightPart_Drawer_Open_2nd_Icon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking_RightPart_Drawer_Open_1st_Icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.RightPart_Drawer_Open_Icons {
  position: fixed;
  right: 0px;
  /* border: 1px solid red; */
  transform: translateY(50vh);
  margin-right: -5px;
}
.RightPart_Drawer_Open_2nd_Icon {
  transform: rotate(180deg);
  animation: 2s ease-in-out 0s infinite blinking_RightPart_Drawer_Open_2nd_Icon;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 10px;
}
.RightPart_Drawer_Open_1st_Icon {
  transform: rotate(180deg);
  animation: 2s ease-in-out 0s infinite blinking_RightPart_Drawer_Open_1st_Icon;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 480px) {
  .RightPart_Drawer_Open_Icons {
    transform: translateY(40vh);
    margin-right: -4px;
  }
  .RightPart_Drawer_Open_2nd_Icon {
    width: 1.3rem;
    height: 1.3rem;
    right: 6px;
  }
  .RightPart_Drawer_Open_1st_Icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  .RightPart_Drawer_Open_Icons {
    transform: translateY(50vh);
    margin-right: -4px;
  }
  .RightPart_Drawer_Open_2nd_Icon {
    width: 1.2rem;
    height: 1.2rem;
    right: 5px;
  }
  .RightPart_Drawer_Open_1st_Icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media screen and (max-width: 280px) {
  .RightPart_Drawer_Open_Icons {
    margin-right: -4px;
  }
  .RightPart_Drawer_Open_2nd_Icon {
    width: 1rem;
    height: 1rem;
    right: 4px;
  }
  .RightPart_Drawer_Open_1st_Icon {
    width: 1rem;
    height: 1rem;
  }
}
