/* Styling Emoji Mart package------------------------------------- */
.emoji-mart,
.emoji-mart-light {
  border-radius: 15px;
  border-width: 0px;
  background-color: var(--emoji-picker-background-color);
  position: absolute;
  left: 116%;
  top: -11px;
}
.emoji-mart-preview {
  position: absolute;
  visibility: hidden;
}
.emoji-mart-scroll {
  height: 200px;
}
.emoji-mart-category-label span {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  background-color: var(--emoji-picker-background-color);
  color: white;
}
.emoji-mart-anchor-icon svg {
  color: var(--secondary-color-point-1-transparent-0);
}
.emoji-mart-no-results-label {
  font-size: 18px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: white;
}
#emoji-mart-search-1 {
  background-color: var(--secondary-color-point-1-transparent-0);
  border-width: 0px;
}
#emoji-mart-search-1:read-write {
  font-size: 15px;
  font-family: var(--primary-font-family);
  font-weight: 600;
}
.emoji-mart-search-icon {
  visibility: hidden;
}
.emoji-mart-scroll::-webkit-scrollbar {
  width: 10px;
}
.emoji-mart-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 1.5rem;
}
.emoji-mart-scroll::-webkit-scrollbar-thumb {
  /* background-color: transparent; */
  border-radius: 10px;
}
.emoji-mart-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-point-1-transparent-0);
}

.MainPage_SearchBar_Container {
  /* border: 1px solid red; */
  position: absolute;
  width: 90%;
  min-height: 5rem;
  /* transform: translate(10%, 15%); */
  top: 10%;
  left: 5%;
  border-radius: 10px;
  background-color: #8f59bbe7;
  /* animation-name: searchBar_animation;
  animation-duration: 0.3s; */
  /* overflow: hidden; */
}
.MainPage_SearchBar_Container h3 {
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
  color: white;
  margin: 2% 0% 2% 6%;
}
.MainPage_SearchBar_Container hr {
  margin: 0% 5% 0% 5%;
  border-color: rgb(230, 205, 233);
}
.MainPage_SearchBar_All_User_Container {
  width: 90%;
  min-height: 3rem;
  /* background-color: white; */
  margin-top: 2%;
  margin-left: 5%;
}
.MainPage_SearchBar_No_Result_Container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage_SearchBar_No_Result_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}
.MainPage_SearchBar_User_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  cursor: pointer;
  text-decoration: none;
}
.MainPage_SearchBar_User_Container:hover {
  background-color: #b180dae7;
}
.MainPage_SearchBar_User_Container img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 2%;
}
.MainPage_SearchBar_User_Container p {
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.85rem;
  margin-left: 5%;
  /* border: 1px solid red; */
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
