* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
/* Styling Sign In Page------------------------------------ */
:root {
  --Page-Background-Color: #ebe7ea;
  --primary-color: #8b37ca;
  --primary-color-point-9: #8a37caf1;
  --secondary-color: #c929a6;
  --secondary-color-point-9: #c929a6e8;
}

.SignIn_Page_Container {
  background-color: var(--Page-Background-Color);
  width: 100%;
  height: 100vh;
  display: flex;
}
.SignIn_Page_Left_Half {
  height: 100%;
  width: 50%;
}
.SignIn_Page_Left_side_Upper_Logo_Part {
  padding: 5% 0% 0% 18%;
  height: 15%;
}
.SignIn_Page_Social_Logo {
  font-size: 2rem;
  letter-spacing: 4px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}
.SignIn_Page_Social_Logo::first-letter {
  font-size: 3rem;
  font-family: "Aladin", cursive;
  font-weight: 100;
}
.SignIn_Page_Sign_In_Logo {
  margin-left: 65px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Ramaraja", serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}
.SignIn_Container_Outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78%;
}
.SignIn_Container {
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  background-color: white;
}
.SignIn_Container input {
  width: 70%;
  height: 11%;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}
.SignIn_Container input::placeholder {
  font-size: 0.9rem;
  color: rgb(68, 68, 68);
  letter-spacing: 1px;
}
.SignIn_Container input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}
.SignIn_Container input:read-write {
  padding-left: 5%;
  color: rgb(83, 83, 83);
}
.SignIn_Email_Input_Field {
  margin-top: 10%;
}
.SingIn_Password_Field {
  margin-top: 5%;
}
.SignIn_Page_SignIn_Button {
  margin-top: 5%;
  width: 75%;
  height: 12%;
  border-radius: 10rem;
  border-width: 0px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignIn_Page_SignIn_Button:hover {
  background-color: var(--primary-color-point-9);
}
.SignIn_Page_Create_Account_Button {
  margin-top: 3%;
  width: 60%;
  height: 12%;
  border-radius: 10rem;
  border-width: 0px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignIn_Page_Create_Account_Button:hover {
  background-color: var(--secondary-color-point-9);
}
.SignIn_Page_Forgot_Password_Button {
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 0.77rem;
  color: var(--primary-color);
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition-property: text-decoration;
}
.SignIn_Page_Forgot_Password_Button:hover {
  text-decoration: underline;
}
.SignIn_Page_Right_Half_container {
  width: 50%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.SignIn_Page_Right_Half {
  /* border: 1px solid red; */
  width: 70%;
  height: 70%;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SignIn_RightSide_Issustration_container {
  width: 55%;
}
.SignIn_RightSide_Issustration {
  width: 100%;
}
.SignIn_Page_Right_Half button {
  display: flex;
  width: 70%;
  height: 11%;
  align-items: center;
  border-radius: 5px;
  border-width: 0px;
  background-color: #cc4fb133;
  box-shadow: 0px 0px 5px #7e2a6cb0;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignIn_Page_Right_Half button:hover {
  background-color: rgba(218, 98, 192, 0.199);
}
.SignIn_page_Google_Button {
  margin-top: 7%;
}
.SignIn_page_Google_Button_Paragraph {
  margin-left: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  word-spacing: 1px;
}
.SignIn_page_Google_Button_Logo {
  width: 10%;
  margin-left: 10%;
}
.SignIn_page_Facebook_Button {
  margin-top: 4%;
}
.SignIn_page_Facebook_Button_Paragraph {
  margin-left: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  word-spacing: 1px;
}
.SignIn_page_Facebook_Button_Logo {
  width: 10%;
  margin-left: 10%;
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 28px;
  }
}

/* Styling SignUp page------------------------------------------- */
.SignUp_Page_Container {
  background-color: var(--Page-Background-Color);
  width: 100%;
  height: 100vh;
  display: flex;
}
.SignUp_Page_Left_Half {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.SignUp_Page_Title_Container {
  width: 100%;
  margin-left: 20%;
}
.SignUp_Page_Logo {
  font-size: 2rem;
  letter-spacing: 4px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}
.SignUp_Page_Logo::first-letter {
  font-size: 3rem;
  font-family: "Aladin", cursive;
  font-weight: 100;
}
.SignUp_Page_Sign_Up_Logo {
  margin-left: 65px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Ramaraja", serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}
.SignUp_Page_Illustration {
  width: 70%;
  position: relative;
  bottom: 5%;
}
.SignUp_Page_Rignt_Half {
  width: 50%;
}
.SignUp_Page_SignUp_Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.SignUp_Page_SignUp_Container {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  background-color: white;
  margin: 7% 13% 10% 13%;
  height: 85%;
}
.SignUp_Page_Input_Field_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.SignUp_Page_Input_Field_Container input {
  width: 70%;
  height: 2.5rem;
  margin-top: 5%;
  font-family: "Raleway", sans-serif;
  border-radius: 7px;
  font-weight: 600;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}
.SignUp_Page_SignUp_Form input:read-write {
  padding-left: 20px;
  font-size: 0.9rem;
  color: rgb(83, 83, 83);
}
.SignUp_Page_Input_Field_Container input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}
.SignUp_Page_Full_Name_Input_Field {
}
.SignUp_Page_Email_Address_Input_Field {
}
.SignUp_Page_Password_Input_Field {
}
.SignUp_Page_Conform_Password_Input_Field {
}
.SignUp_Page_Birthday_Selection_Container {
  /* border: 1px solid red; */
  width: 75%;
  margin-top: 3%;
}
.SignUp_Page_Birthday_Selection_Container p,
.SignUp_Page_Gender_Checkbox_Container p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.SignUp_Page_Birthday_Selection_Date_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignUp_Page_Birthday_Selection_Date_Container select {
  width: 30%;
  height: 2rem;
  border-radius: 7px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
.SignUp_Page_Birthday_Selection_Date_Container select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(211, 211, 211);
}
.SignUp_Page_Birthday_Selection_Date_Container select:read-only {
  padding-left: 10px;
  color: rgb(107, 106, 106);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}
.SignUp_Page_Birthday_Year_Selection {
}
.SignUp_Page_Birthday_Month_Selection {
}
.SignUp_Page_Birthday_Day_Selection {
}
.SignUp_Page_Gender_Checkbox_Container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 2%;
}
.SignUp_Page_Gender_Checkbox_select_Container {
  display: flex;
  justify-content: space-between;
}
.SignUp_Page_Gender_Checkbox_select_Container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  width: 30%;
  height: 2rem;
  border-radius: 7px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  transition-duration: 100ms;
}
.SignUp_Page_Gender_Checkbox_select_Container div:hover,
.SignUp_Page_Birthday_Selection_Date_Container select:hover {
  background-color: rgba(240, 240, 240, 0.548);
}
.SignUp_Page_Gender_Checkbox_select_Container div input {
  width: 20%;
  height: 40%;
  cursor: pointer;
}
.SignUp_Page_Male_CheckBox_Container {
}
.SignUp_Page_Male_CheckBox_Title {
}
.SignUp_Page_Male_CheckBox {
}
.SignUp_Page_Female_CheckBox_Container {
}
.SignUp_Page_Female_CheckBox_Title {
}
.SignUp_Page_Female_CheckBox {
}
.SignUp_Page_Others_CheckBox_Container {
}
.SignUp_Page_Others_CheckBox_Title {
}
.SignUp_Page_Others_CheckBox {
}
.SignUp_Page_Submit_Container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.SignUp_Page_Submit_Container button {
  width: 47%;
  border-radius: 20px;
  height: 2rem;
  border-width: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.SignUp_Page_SignUp_Button {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition-duration: 100ms;
}
.SignUp_Page_SignUp_Button:hover {
  background-color: var(--primary-color-point-9);
}
.SignUp_Page_SignIn_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9adb775;
  transition-duration: 100ms;
}
.SignUp_Page_SignIn_Button:hover {
  background-color: #c0b8bf75;
}
.SignUp_Page_SignIn_Button_Title {
  font-size: 1.2rem;
  color: rgb(71, 71, 71);
  letter-spacing: 1px;
  margin-right: 5%;
}
.SignUp_Page_SignIn_Button_Icon {
  color: rgb(71, 71, 71);
}
