:root {
  --Page-Background-Color: #f3f3f3;
  --primary-color: #8b37ca;
  --primary-color-100: #9e57d4d5;
  --primary-color-point-9: #8a37caf1;
  --primary-color-point-7: #8e3fcad7;
  --primary-color-darker-5: #7931b1;
  --primary-color-lighter-1: #873cc0;
  --primary-color-opacity-3: #5b248561;
  --primary-color-button-hover-color: #8f44c9;
  --primary-color-darker-1: rgb(164 145 178 / 33%);
  --secondary-color: #c929a6;
  --secondary-color-point-1-transparent-0: #f7e0f2;
  --secondary-color-point-2: #b359a021;
  --secondary-color-point-4: #e665ca36;
  --secondary-color-point-7: #d8a3cdd8;
  --secondary-color-point-9: #d43eb4e8;
  --input-field-font-family: "Raleway", sans-serif;
  --primary-font-family: "Raleway", sans-serif;
  --lower-opacity-font-color: rgb(73, 73, 73);
  --medium-opacity-font-color: rgb(54, 54, 54);
  --home-page-content-width: 85%;
  --logo-icon-low-opacity-black-color: #333333;
  --logo-icon-low-opacity-black-color-point-3: #555555;
  --white-opacity-3: rgba(255, 255, 255, 0.37);
  --white-opacity-6: rgba(255, 255, 255, 0.61);
  --emoji-picker-background-color: #674086;
  --very-small-screen-min-width: 280px;
  --very-small-screen-max-width: 320px;
  --mobile-min-width: 320px;
  --mobile-max-width: 480px;
  --tablets-min-width: 480px;
  --tablets-max-width: 768px;
  --small-screen-laptops-min-width: 768px;
  --small-screen-laptops-max-width: 1024px;
  --large-screen-Desktops-min-width: 1024px;
  --large-screen-Desktop-max-width: 1200px;
  --extra-large-screen-min-width: 1200px;
  --extra-large-screen-max-width: 1366px;
  --beyond-extra-large-screen-min-width: 1366px;
}
